@import '../variables.sass'

.question
	&_video
		position: relative
		margin-right: 48px
		height: 317px
		width: 180px
		min-width: 180px
		border-radius: 10px
		overflow: hidden
		video
			position: absolute
			top: 0
			left: 50%
			margin: -40px -280px
	&_form
		max-width: 431px
		&__title
			margin-bottom: 8px
			font-family: $font_title
			font-size: 39px
			font-weight: 600
			span
				display: inline-block
				span
					position: relative
					bottom: -1px
					font-weight: 700
					color: $color_blue
		&__subtitle
			margin-bottom: 17px
			padding-left: 1px
			font-size: 16px
			line-height: 1.4
			span
				max-width: 270px
		&__textarea
			margin-bottom: 12px
			padding: 10px 17px
			min-height: 95px
			border-radius: 6px
			overflow: auto !important
		&__textarea, &__textarea.is-invalid
			border: 1px solid $color_blue__elis
			background: $color_blue__elis
		&__textarea.is-invalid:focus, &__textarea.is-valid:focus
			padding-right: 17px !important
			border: 1px solid rgba(0,0,0,0)
			box-shadow: none
			background: $color_blue__elis
		&__textarea.is-valid
			padding-right: 17px !important
			background: white
			border: 1px solid $color_blue__cornflower
		&__file
			justify-content: flex-end
		.btn_download
			margin-right: 12px
		&__button
			display: inline-flex
			align-items: center
			height: 40px
			width: 153px
			span 
				padding-left: 5px
				padding-right: 20px
				letter-spacing: 0.2px
				line-height: 38px
			svg
				margin-top: 2px
	&_tooltip
		display: inline-flex
		justify-content: center
		align-items: center
		padding: 0
		margin-top: 4px
		height: 40px
		width: 40px
		min-width: 40px
		background: #FFFFFF
		border: 1px solid rgba(51, 51, 51, 0.5)
		border-radius: 50%
		&:hover, &:active, &:focus
			border: 1px solid white !important
			background: #FFFFFF !important
			box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25) !important

.tooltip-question 
	opacity: 1 !important
	outline: none
	left: -6px !important
	padding-left: 0
	.tooltip-inner
		max-width: fit-content
		white-space: nowrap
		height: 40px
		line-height: 40px
		padding: 0 15px
	&.tooltip.b-tooltip-light
		.tooltip-inner
			background: white
			box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25)
			border-radius: 6px
			width: 380px
			max-width: 383px
			outline: none
		.arrow::before
			border-left-color: white
.upload
	&_files
		padding-top: 50px
		&__item
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 6px
		&__icon
		&__name
			flex-grow: 1
			white-space: nowrap
			padding: 0 12px
			overflow: hidden
			text-overflow: ellipsis
		&__delete
			overflow: hidden
			border-radius: 50%
			cursor: pointer
			min-width: 24px
			&:hover
				box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.3)

@media (max-width: 1199px)
	.question
		&_video
			margin-right: 15px
		&_form
			max-width: 100%
			overflow: hidden
			&__title
				font-size: 32px
@media (max-width: 991px)
	.question
		&_tooltip
			display: none
		&_video
			display: none
		&_form
			max-width: 100%
			width: 100%
			&__subtitle
				margin-bottom: 20px
				line-height: 1.6
				span
					display: block
					font-size: 15px
			form
				display: flex
				flex-wrap: wrap
				margin-bottom: 36px
			.btn_download
				margin-right: 0
			.upload_files
				width: 100%
			&__textarea
				margin-right: 12px
				margin-bottom: 0
				padding: 6px 15px
				width: calc(100% - 52px)
				font-size: 15px
			&__file
				flex-direction: column
				justify-content: space-between
			&__button
				padding: 0
				width: 40px
				span
					display: none
				svg
					display: block
					margin: 0 auto
@media (max-width: 767px)
	.question
		&_form
			text-align: center
@media (max-width: 640px)
	.question
		&_form
			&__title
				margin-bottom: 13px
				font-size: 26px
			&__subtitle span
				max-width: 100%