@import '../variables.sass'

.slick-arrow
	display: block
	width: 40px
	height: 40px
	background-position: center
	background-repeat: no-repeat
	background-size: 40px
	cursor: pointer
	&.prevArrow
		background-image: url('../assets/images/prev-arrow.svg')
	&.nextArrow
		background-image: url('../assets/images/next-arrow.svg')
	&.slick-disabled
		opacity: 0.5

