@import '../variables.sass'

.doctors
	padding-top: 80px
	padding-bottom: 30px
	&_best
		&__title
			margin-bottom: 20px
			font-size: 15px
			text-align: center
			color: rgba(0,0,0,0.5)
		&__slider
			padding-left: 10px
			.carousel
				margin: 0 -10px
				&-item
					background: white
					.img-fluid
						display: none !important
				&-caption
					position: initial
					display: flex
					padding-top: 0
					padding-bottom: 25px
		&__slide
		&__card
			// flex-direction: column !important
			// align-items: center
			// padding: 10px
			// width: 50%
			// color: $color_primary
			// border: none
			.card-body
				display: flex
				flex-direction: column
				justify-content: space-between
				padding: 12px 10px 0
				min-height: 110px
				.card-text
					margin-bottom: 0
			img 
				width: 120px
				height: 120px
				border-radius: 6px
			.name
				margin-bottom: 5px
				font-size: 14px
			.expert
				display: inline-flex
				align-items: center
				margin-bottom: 7px
				min-height: 32px
				font-size: 12px
				line-height: 1.1
			.rating
				font-family: Adelle Cyrillic
				font-weight: 700
				color: #6F7173
				letter-spacing: 1px
				justify-content: center
				svg
					position: relative
					top: -1px
					margin-right: 5px