@import '../variables.sass'

.about
	&_title
		margin-bottom: 48px
	p 
		margin-bottom: 30px
		line-height: 1.65
	ul
		margin-bottom: 30px
		padding: 0
		list-style: none
		li 
			position: relative
			margin-bottom: 7px
			padding-left: 27px
			letter-spacing: 0.1px
			&::before
				position: absolute
				left: 0
				top: 0
				margin: 10px 8px
				content: ''
				width: 4px
				height: 4px
				background: $color_blue
				border-radius: 1px

	&_image
		margin-left: 4px
.history
	padding-top: 80px
	padding-bottom: 60px
	background: $color_blue__light
	overflow: hidden
	&_title
		margin-bottom: 50px
	&_subtitle
		margin-bottom: 43px
	&_shadow
		position: relative
		margin-bottom: 40px
		&::before
			position: absolute
			right: -100px
			top: -25%
			width: 100px
			height: 150%
			content: ''
			box-shadow: -10px 0px 20px rgba(51, 51, 51, 0.2)
			border-radius: 50%
		&::after
			position: absolute
			z-index: 1
			right: -200px
			top: -70%
			width: 200px
			height: 240%
			content: ''
			background: $color_blue__light
		.slick-arrow
			position: absolute
			left: 100%
			top: 50%
			z-index: 2
			&.prevArrow
				margin: 10px 75px
			&.nextArrow
				margin: -53px 75px
	&_wrapper
		position: relative
		overflow: hidden
	&_tape
		position: relative
		width: 3000px
		height: 300px
		left: 0px
	&_item
		position: absolute
		display: flex
		min-width: 300px
		&__title
			margin-bottom: 7px
			font-family: Adelle Cyrillic
			font-size: 26px
			line-height: 1.077
			font-weight: 600
			white-space: nowrap
		&__descriptions
			font-size: 14px
			line-height: 1.143
		&-1
			top: 0
			left: 0
		&-2
			top: 176px
			left: 207px
		&-3
			top: 0px
			left: 467px
		&-4
			top: 176px
			left: 728px
		&-5
			top: 0px
			left: 1024px
		&-6
			top: 176px
			left: 1252px
		&-7
			top: 0px
			left: 1545px
		&-8
			top: 176px
			left: 1773px
		&-9
			top: 0px
			left: 2060px
		&-10
			top: 176px
			left: 2343px
		&-11
			top: 0px
			left: 2619px
			min-width: 420px
		&-12
			top: 176px
			left: 2812px
			min-width: 360px
	&_icon
		position: relative
		&-1
			position: relative
			left: -15px
			top: 0
			margin-right: -7px
		&-2
			position: relative
			left: -15px
			top: 0
			margin-right: -7px
		&-3
			position: relative
			left: -22px
			top: -8px
			margin-right: -7px
		&-4
			position: relative
			left: -22px
			top: -11px
			margin-right: -7px
	&_text
		padding-top: 16px
	&_line
		position: absolute
		&-1
			top: 100%
			left: 0
			margin: -14px 46px 0
		&-2
			top: 0
			left: 0
			margin: -126px 55px 0
		&-3
			top: 100%
			left: 0
			margin: -43px 42px 0
		&-4
			top: 0
			left: 0
			margin: -122px 59px 0
		&-5
			top: 100%
			left: 0
			margin: -10px 34px 0
		&-6
			top: 0
			left: 0
			margin: -138px 36px 0
		&-7
			top: 100%
			left: 0
			margin: -32px 62px 0
		&-8
			top: 0
			left: 0
			margin: -150px 50px 0
		&-9
			top: 100%
			left: 0
			margin: -30px 42px 0
		&-10
			top: 0
			left: 0
			margin: -162px 62px 0
		&-11
			top: 100%
			left: 0
			margin: 1px 55px 0
.administration
	padding-top: 80px
	padding-bottom: 80px
	&_title
		margin-bottom: 45px
	&_group
		display: flex
		justify-content: center
	&_card
		border-radius: 6px
		overflow: hidden
		position: relative
		margin: 0 53px 40px
	&_image
	&_footer
		position: absolute
		left: 0
		bottom: 0
		min-height: 102px
		padding: 23px
		width: 100%
		background: rgba(255, 255, 255, 0.95)
	&_text
		position: relative
		padding-left: 13px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 2px
			height: 100%
			border-radius: 1px
			background: $color_blue
	&_name
		margin-bottom: 2px
		font-family: Adelle Cyrillic
		font-size: 20px
		letter-spacing: 0.2px
	&_post
		font-size: 12px
		line-height: 1.25
.team
	padding-top: 80px
	padding-bottom: 80px
	background: $color_blue__light
	overflow: hidden
	&_title
		margin-bottom: 45px
	&_shadow
		position: relative
		margin-bottom: 40px
		&::before
			position: absolute
			right: -100px
			top: -25%
			width: 100px
			height: 150%
			content: ''
			box-shadow: -10px 0px 20px rgba(51, 51, 51, 0.2)
			border-radius: 50%
		&::after
			position: absolute
			z-index: 1
			right: -200px
			top: -70%
			width: 200px
			height: 240%
			content: ''
			background: $color_blue__light
	&_slider
		.slick-slider
		.slick-list
			width: 1488px
			margin-left: -24px
		.slick-arrow
			position: absolute
			left: 100%
			top: 50%
			z-index: 2
			&.prevArrow
				margin: 10px 75px
			&.nextArrow
				margin: -53px 75px
	&_slide
		padding: 0 24px
	&_image
		width: 100%
		overflow: hidden
	&_card
		position: relative
		border-radius: 6px
		height: 278px
		overflow: hidden
	&_image
	&_footer
		position: absolute
		left: 0
		bottom: 0
		min-height: 73px
		padding: 18px 16px
		width: 100%
		background: rgba(255, 255, 255, 0.95)
	&_text
		position: relative
		padding-left: 13px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 2px
			height: 100%
			border-radius: 1px
			background: $color_blue
	&_name
		margin-bottom: 2px
		font-family: Adelle Cyrillic
		font-size: 16px
		letter-spacing: 0.2px
	&_post
		font-size: 12px
		line-height: 1.25
.partners
	padding-top: 80px	
	padding-bottom: 80px
	overflow: hidden
	&_title
		margin-bottom: 100px
	&_shadow
		position: relative
		margin-bottom: 20px
		&::before
			position: absolute
			right: -100px
			top: -25%
			width: 100px
			height: 150%
			content: ''
			box-shadow: -10px 0px 20px rgba(51, 51, 51, 0.2)
			border-radius: 50%
		&::after
			position: absolute
			z-index: 1
			right: -200px
			top: -70%
			width: 200px
			height: 240%
			content: ''
			background: white
	&_slider
		.slick-slider
		.slick-list
			width: 1488px
			margin-left: -24px
		.slick-arrow
			position: absolute
			left: 100%
			top: 50%
			z-index: 2
			&.prevArrow
				margin: 10px 75px
			&.nextArrow
				margin: -53px 75px
	&_slide
		padding: 0 40px
	&_image
		display: flex
		align-items: center
		height: 120px
		width: 100%
		overflow: hidden
		img 
			margin: 0 auto
			max-width: 100%
