@import '../variables.sass'

.ask
	&_page
		padding-bottom: 110px
	&_title
		margin: 0 auto 17px
		max-width: 470px
		span
			display: inline-block
			span
				position: relative
				bottom: -1px
				font-weight: 700
				color: $color_blue
	&_subtitle
		margin-bottom: 45px

@media (max-width: 767px)
	.ask
		&_page
			padding-top: 20px
			padding-bottom: 20px
		&_title
			margin-bottom: 13px
		&_subtitle
			margin: 0 auto 15px
			max-width: 300px
			line-height: 1.8