@import '../variables.sass'

.contacts
	&_page
		padding-bottom: 70px
	&_title
		margin-bottom: 60px
	&_subtitle
		margin-bottom: 16px
		font-size: 26px
		font-weight: 600
	&_data
		margin-bottom: 30px
		svg
			margin-right: 10px
	&_social
		margin-top: 4px
		svg path
			fill: $color_primary
		.social_item
			margin: 0 0 0 18px
			cursor: pointer
			&:first-child
				margin: 0
	&_map
		padding: 50px 0
	&_wrapper
		justify-content: space-between
	&_item
		&__address
		&__phone
		&__support
		&__social
.communication
	padding-top: 30px
	&_title
		margin-bottom: 27px
	&_subtitle
		margin-bottom: 40px

@media (max-width: 767px)
	.contacts
		&_page
			padding-top: 20px
			padding-bottom: 20px
		&_title
			margin-bottom: 40px
		&_subtitle
			font-size: 18px
		&_item
			&__social
				display: none
@media (max-width: 640px)
	.contacts
		&_title
			text-align: center
		&_subtitle
			text-align: center
		&_wrapper
			flex-direction: column
			align-items: center
		&_data
			margin-bottom: 34px
			padding-right: 10px
			svg
				margin-right: 8px
		&_map
			padding-top: 40px
			padding-bottom: 25px
			iframe
				height: 480px
	.communication
		&_title
			margin-bottom: 12px
		&_subtitle
			margin: 0 auto 10px
			max-width: 300px
			line-height: 2