@import '../variables.sass'

.page
	&_faq
		padding-bottom: 70px
		&__title
			margin-bottom: 20px
			line-height: 1
			small
				display: block
				line-height: 1.3
				letter-spacing: -0.7px
				font-weight: 600
.supports
	padding-top: 15px
	margin-bottom: 20px
	span 
		display: block
		font-weight: 600
	&_time
		margin-bottom: 5px
		font-size: 20px
		line-height: 1
		svg
			margin: 0 7px -2px 13px
	&_phone
		font-family: Adelle Cyrillic
		font-size: 30px
		font-weight: 600
		svg
			margin: -6px 13px 0 0
.faqs
	padding-bottom: 80px
	&_header
		margin-bottom: 45px				
	&_wrapper
		.nav-tabs
			display: flex
			flex-direction: column
			min-width: 533px
			border: none
			.nav-item
				margin-bottom: 8px
				&:focus
					outline: none
				&:last-child
					margin-bottom: 0
			.nav-link
				border: none
				position: relative
				display: block
				padding: 0 12px 0 0
				border: none
				background: none
				height: auto
				border-radius: 6px
				&:focus
					outline: none
				&.active
					background: $color_blue__light
					color: $color_primary
					&:focus, &:active, &:focus:active, &:hover
						span
							background: $color_blue__light
							color: $color_primary
							&:hover
								box-shadow: none
					svg
						opacity: 1

					&:before
						content: ''
						position: absolute
						right: 0
						top: 0
						margin: 0 -10px
						width: 20px
						height: 100%
						background: $color_blue__light
				span
					position: relative
					display: flex
					padding: 15px 30px 15px 24px
					text-align: left
					color: $color_primary
					border-radius: 6px
					min-height: 46px
					line-height: 1.3
					font-weight: normal
					&:focus
						outline: none
				&:focus, &:active, &:focus:active, &:hover
					span
						background: $color_blue__light
						color: $color_primary
						&:hover
							box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.25)
							z-index: 1
				svg
					margin-right: 10px
					min-width: 12px
					opacity: 0 
					path
						fill: $color_blue
		.tab-content
			flex-grow: 1
			background: $color_blue__light
			border-radius: 10px
			border: 12px solid $color_blue__light
		.tab-pane
			padding: 80px
			border-radius: 10px
			background: white
			height: 100%
	&_answers
		flex-grow: 1
		padding: 80px
		background: white
		border-radius: 10px
		border: 12px solid $color_blue__light
		.card-body
			padding: 0
		&__title
			margin-bottom: 30px
			font-family: Adelle Cyrillic
			font-size: 26px
			font-weight: 600
			line-height: 1.08
		&__text
			padding-right: 40px
			padding-left: 40px
			line-height: 1.7
			letter-spacing: 0.05px

.help
	padding-top: 80px
	padding-bottom: 80px
	background: $color_blue__light
	overflow: hidden
	&_title
		margin-bottom: 30px
	&_subtitle
		margin-bottom: 38px
		line-height: 1.4
	&_social__icon
		display: inline-flex
		width: 46px
		height: 46px
		margin-right: 30px
		border-radius: 6px
		justify-content: center
		align-items: center
		svg g
			fill: white
	&_image
		position: relative
		&-1
			top: 60px
			left: -5px
		&-2
			top: -3px
			left: 270px
		&-3
			top: -168px
			left: 470px
		img
			position: absolute
.social			
	&_fb
		background: #3B5998
	&_vk
		background: #4D7198
	&_ok
		background: #ED812B
.ask
	padding-top: 80px
	&_title
		margin-bottom: 30px
	&_subtitle
		margin-bottom: 40px
		    line-height: 1.33