@import '../variables.sass'

.feedback
	&_page
		padding-bottom: 110px
	&_title
		margin-bottom: 30px
		span
			color: $color_blue
	&_subtitle
		margin-bottom: 38px
@media (max-width: 767px)
	.feedback
		&_page
			padding-top: 20px
			padding-bottom: 20px
		&_title
			margin-bottom: 13px
		&_subtitle
			margin: 0 auto 15px
			max-width: 300px
			line-height: 1.8
