@import '../variables.sass'

.consultation
	height: 416px
	overflow: hidden
	background-image: url('../assets/images/home/consultation.png')
	// background-image: url('../assets/images/home/main-2.png')
	background-color: $color_blue__light
	background-position: center 0
	// background-position: center 250px
	// background-repeat: no-repeat
	background-size: 1700px
	// background-attachment: fixed
	padding-top: 80px
	padding-bottom: 80px
	min-height: 416px
	&_title
		margin-bottom: 30px
		font-family: $font_title
		font-size: 30px
		font-weight: 600
	&_text
		margin-bottom: 38px
		max-width: 385px
		line-height: 1.4
	&_image
		margin-top: 110px
		margin-left: 50px
	&_btn
		padding-bottom: 5px
		min-width: 202px
		letter-spacing: 0.3px
.capabilities
	padding-top: 60px
	padding-bottom: 70px
	&_title
		margin-bottom: 57px
		font-family: $font_title
		font-size: 20px
		font-weight: 600
	&_wrapper
		margin-left: -23px
		margin-right: -23px
	&_link
		display: block
		position: relative
		margin: 0 auto 50px
		border-radius: 10px
		max-width: 408px
		&:hover
			text-decoration: none
			color: #333333
			.capabilities_item
				box-shadow: none
				transition: all 300ms ease-in-out
				&__hover
					transition: all 300ms ease-in-out
					opacity: 1
			&[href]
				box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25)
	&_item
		padding-top: 25px
		padding-bottom: 40px
		padding-left: 40px
		padding-right: 25px
		background: linear-gradient(0deg, rgba(44, 178, 219, 0.2), rgba(44, 178, 219, 0.2)), #FFFFFF
		box-shadow: 0px 15px 15px rgba(51, 51, 51, 0.2)
		border-radius: 10px
		overflow: hidden
		min-height: 180px
		&__title
			margin-bottom: 26px
			span
				padding-top: 17px
				font-family: $font_title
				font-size: 26px
				font-weight: 600
				line-height: 1
		&__hover
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			opacity: 0
			background: white
			box-shadow: none
			border: 1px solid $color_gray
			.btn
				margin-right: 15px
				max-width: 155px
				font-size: 14px
				white-space: nowrap

@media (max-width: 1199px)
	.consultation
		&_title
			font-size: 24px
	.capabilities
		&_link
			margin-bottom: 30px
		&_item
			padding-top: 18px
			padding-left: 28px
			padding-bottom: 18px
			min-height: 150px
			&__title
				align-items: flex-end
				margin-bottom: 20px
				span
					font-size: 22px
			&__text
				font-size: 12px
				line-height: 1.5
			&__icon
				svg
					margin-bottom: 0
				.bubble
					width: 21px
					height: 21px
				.cap
					width: 26px
					height: 21px
				.rotation
					width: 24px
					height: 22px
				.sheet
					width: 18px
					height: 24px
				.bot
					width: 30px
					height: 22px
				.media
					width: 20px
					height: 26px
				.man
					width: 20px
					height: 24px
@media (max-width: 1024px)
	.capabilities
		&_wrapper
			margin-left: -15px
			margin-right: -15px
@media (max-width: 767px)
	.consultation
		min-height: 1px
		height: auto
		padding-top: 35px
		padding-bottom: 35px
		background-image: url('../assets/images/home/consultation-modal.png'), url('../assets/images/home/mobile.png')
		background-position: right 0, 108.5% 305px
		background-size: auto 250px, 140px
		background-repeat: no-repeat
		&_title
			margin-bottom: 20px
			max-width: 231px
			font-size: 21px
			line-height: 1.5
		&_text
			margin-bottom: 43px
			max-width: 290px
			font-size: 15px
			line-height: 1.7
		&_btn
			min-width: 176px
			width: 176px
			font-size: 14px

@media (max-width: 480px)
	.capabilities
		padding-top: 38px
		padding-bottom: 30px
		&_title
			margin-bottom: 33px
			font-size: 18px
			text-align: center
	.consultation
		background-position: right 0, 130% 305px
@media (max-width: 360px)
	.capabilities_item
		padding-left: 20px
		padding-right: 20px