@import '../../variables.sass'

.ask
	&_form
		margin: 0 auto 50px
		max-width: 288px
		.form-group
			margin-bottom: 18px
			[role="group"]
				position: relative
				.icon
					display: flex
					align-items: center
					justify-content: center
					position: absolute
					top: 0
					left: 0
					margin: 12px 24px
					height: 20px
					width: 22px
			.form-control
				background: $color_blue__elis
				border-radius: 6px
				border: none
				color: rgba(51, 51, 51, 0.5)
				height: 47px
				padding-left: 62px
			&.textarea
				margin-bottom: 18px
				.form-control
					padding-top: 10px
					height: 156px
					overflow: auto !important
		&__btn
			width: 100%
		.download
			margin-bottom: 24px
			.label
				display: flex
				align-items: center
				justify-content: center
				padding: 0
				width: 100%
				white-space: nowrap
				svg 
					margin-right: 15px
			input[type=file]
				display: none