@import '../../variables.sass'
.feedback
	padding-bottom: 50px
	&_image
		position: relative
		img
			position: absolute
		&-1
			right: 105px
			top: 40px
		&-2
			right: 50px
			top: 60px
		&-3
			left: 85px
			top: 85px
	&_form
		margin: 0 auto 50px
		max-width: 294px
		.form-group
			margin-bottom: 18px
			[role="group"]
				position: relative
				.icon
					display: flex
					align-items: center
					justify-content: center
					position: absolute
					top: 0
					left: 0
					margin: 12px 24px
					height: 20px
					width: 22px
			.form-control
				background: $color_blue__elis
				border-radius: 6px
				border: none
				color: rgba(51, 51, 51, 0.5)
				height: 47px
				padding-left: 62px
			&.textarea
				margin-bottom: 24px
				.form-control
					padding-top: 10px
					height: 156px
		&__btn
			width: 100%
@media (max-width: 991px)
	.feedback_image
		&-1
			width: 97px
		&-2
			width: 26px	
		&-3
			width: 94px				
@media (max-width: 767px)
	.feedback
		&_wrapper
			display: flex
			flex-direction: column
			padding-top: 140px
			.col-md-4:nth-child(3)
				order: -1
		&_image
			&-1
				right: 50%
				top: -140px
				margin: 0 32px
			&-2
				right: 50%
				top: -130px
				margin: 0 -12px
			&-3
				left: 50%
				top: -123px
				margin: 0 32px