@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/segoeui-light.eot');
	src: local('Segoe UI light'), local('./segoeui/segoeui-light'),
		url('./segoeui/segoeui-light.eot?#iefix') format('embedded-opentype'),
		url('./segoeui/segoeui-light.woff') format('woff'),
		url('./segoeui/segoeui-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/segoeui-semibold.eot');
	src: local('Segoe UI semibold'), local('./segoeui/segoeui-semibold'),
		url('./segoeui/segoeui-semibold.eot?#iefix') format('embedded-opentype'),
		url('./segoeui/segoeui-semibold.woff') format('woff'),
		url('./segoeui/segoeui-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/segoeui.eot');
	src: local('Segoe UI'), local('segoeui'),
		url('./segoeui/segoeui.eot?#iefix') format('embedded-opentype'),
		url('./segoeui/segoeui.woff') format('woff'),
		url('./segoeui/segoeui.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/segoeui-bold.eot');
	src: local('Segoe UI bold'), local('segoeui-bold'),
		url('./segoeui/segoeui-bold.eot?#iefix') format('embedded-opentype'),
		url('./segoeui/segoeui-bold.woff') format('woff'),
		url('./segoeui/segoeui-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('./adellecyrillic/adellecyrillic.eot');
	src: local('Adelle Cyrillic thin'), local('adellecyrillic'),
		url('./adellecyrillic/adellecyrillic.eot?#iefix') format('embedded-opentype'),
		url('./adellecyrillic/adellecyrillic.woff') format('woff'),
		url('./adellecyrillic/adellecyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('./adellecyrillic/adellecyrillic-bold.eot');
	src: local('Adelle Cyrillic Bold'), local('adellecyrillic-bold'),
		url('./adellecyrillic/adellecyrillic-bold.eot?#iefix') format('embedded-opentype'),
		url('./adellecyrillic/adellecyrillic-bold.woff') format('woff'),
		url('./adellecyrillic/adellecyrillic-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('./adellecyrillic/adellecyrillic-semibold.eot');
	src: local('Adelle Cyrillic SemiBold'), local('adellecyrillic-semibold'),
		url('./adellecyrillic/adellecyrillic-semibold.eot?#iefix') format('embedded-opentype'),
		url('./adellecyrillic/adellecyrillic-semibold.woff') format('woff'),
		url('./adellecyrillic/adellecyrillic-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
