<template lang="pug">
  div
    input-custom.style-item(placeholderCustom='Email' typeCustom="email")
    input-pass-custom.style-item(placeholderCustom="Пароль" :status="statusComponent")
    b-button.btn_blue.style-item(block='') Войти
</template>

<script>
import InputCustom from '@/components/InputCustom.vue'
import InputPassCustom from '@/components/InputPassCustom.vue'
export default {
  components: {
    InputCustom,
    InputPassCustom
  }
}
</script>

<style lang="scss" scoped>
.style-item {
  margin-top: 9px;
  margin-bottom: 9px;
}
</style>
