<template lang="pug">
  b-row(align-h="center")
    b-col(sm="12" md="8")
      h5.text_center.black_text Через аккаунт в социальной сети
      .container_buttons
        b-row
          b-col
            .fb_container
              icon-base(width='46', height='46', viewBox='0 0 46 46' iconColor='#3B5998')
                icon-facebook-box
          b-col
            .vk_container
              icon-base(width='46' height='46', viewBox='0 0 46 46' iconColor='#4D75A6')
                icon-vk-box
          b-col
            .ok_container
              icon-base(width='46' height='46', viewBox='0 0 46 46' iconColor="#ED812B")
                icon-ok-box
      h5.text_center.black_text Используя почту
      login-em-pass-component

      .container_small_text
        p.small_text Забыли пароль?
        p.small_text
          | Его легко
          u.link_text  восстановить.
      h5.text_center.padding_1.black_text C помощью QR-кода
      .spacer
      .icon_button.top_margin_1
        icon-base(width="23" height="27" viewBox="0 0 23 27")
          icon-qr
        | Выберите файлы
</template>

<script>
import LoginEmPassComponent from '@/components/helpers/login/LoginEmPassComponent.vue'

import IconBase from '@/components/IconBase.vue'
import {
  IconFacebookBox,
  IconVkBox,
  IconOkBox,
  IconQr } from '@/components/icons'

export default {
  components: {
    LoginEmPassComponent,
    IconBase,
    IconFacebookBox,
    IconVkBox,
    IconOkBox,
    IconQr
  }
}
</script>

<style lang="scss" scoped>

.fb_container {
  display: flex;
  justify-content: flex-end;
}

.vk_container {
  display: flex;
  justify-content: center;
}

.ok_container {
  display: flex;
  justify-content: flex-start;
}

.container_buttons {
  padding: 2rem 1rem 3rem;
}

.text_center {
  text-align: center;
  width: 100%;
  margin:0;
  color: #707070;
}

.small_text {
  text-align: center;
  color: #999999;
  font-size: 12px;
  margin: 0;
}
.container_small_text {
  padding: 1rem;
}

.link_text {
  color: #2CB2DB;
  font-weight: bold;
  cursor: pointer;
}

.padding_1 {
  padding: 1rem;
}

.spacer {
  height: 1rem;
  width: 100%;
}

.btn_large {
  width:100%;
}

.top_margin_1 {
  margin-top: 1rem;
}

.icon_button {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #2CB2DB;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    margin-right: 1rem;
  }
}

.black_text {
  color: #333333;
}

</style>
