<template lang="pug">
  b-container
    b-row.justify-content-md-center
      b-col(cols="8" align-self="center")
        .title
          span.sptitle Добро пожаловать
          |  в сообщество пациентов и врачей
          span.sptitle  Qapsula
    b-row.justify-content-md-center
      b-col(cols="4" align-self="center")
        .paragraph
          | Войдите в свой аккаунт и начните предоставление врачебной практики на новом уровне
    b-row.justify-content-md-center
      b-col(cols="4")
        login-em-pass-component
</template>
<script>
import LoginEmPassComponent from '@/components/helpers/login/LoginEmPassComponent.vue'
export default {
  components: {
    LoginEmPassComponent
  }
}
</script>
<style lang="scss" scoped>
.sptitle {
  color: #2CB2DB;
}

.title {
  font-family: Adelle Cyrillic;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;

  text-align: center;
  color: #333333;
  margin-bottom: 35px;
}

.paragraph {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 44px;
}
</style>
