@import '../variables.sass'

.footer_logo
	margin: 0

.footer
	padding-top: 105px
	padding-bottom: 70px
	background: $color_primary
	&_wrapper
		justify-content: space-between
	&_left
		width: 100%
		max-width: 275px
	&_right
		display: inline-flex
		flex-direction: column
		align-items: flex-end
		padding-top: 4px
		width: 100%
		max-width: 225px
	&_center
		display: inline-flex
		justify-content: space-between
		flex-grow: 1
	&_logo
		display: block
		margin-bottom: 10px
	&_nav
		margin-bottom: 30px
		flex: 1
		&__list
			flex-direction: column
		&__title
			margin-bottom: 20px
			font-weight: 700
			font-size: 20px
			color: white
		&__item
			display: block
			margin-bottom: 15px
		a
			padding: 0
			color: $color_gray__pearl
			&:hover
				color: white
			span
				display: inline-block
	&_social
		display: flex
		justify-content: flex-start
		svg path
			fill: white
	.language
		&_dropdown
			display: none
			margin: 0 0 50px
			padding-top: 30px
			.dropdown-toggle
				margin: 0 auto
			.language_selected
				color: white
				&__item:first-child:after
					background: white
			.dropdown
				&-toggle 
					> svg g
						fill: white
					.sr-only
						svg
							path
								stroke: white
	&_app__img
		margin-bottom: 23px

.copyright
	margin-bottom: 40px
	font-size: 10px
	color: $color_gray__pearl

@media (max-width: 1199px)
	.footer
		&_left
			padding-right: 30px
			width: auto
		&_right
			padding-left: 30px
			width: auto

@media (max-width: 991px)
	.footer
		&_wrapper
			flex-wrap: wrap
			justify-content: center
		&_center
			width: 100%
			order: -1

@media (max-width: 767px)
	.footer
		padding-top: 83px
		&_wrapper
			flex-direction: column
		&_center
			flex-direction: column
			order: -2
		&_left
			display: flex
			flex-direction: column
			padding: 0
			width: 100%
			max-width: 100%
		&_right
			align-items: center
			order: -1
			margin-bottom: 35px
			padding: 0
			width: 100%
			max-width: 100%
		&_social
			display: inline-flex
			justify-content: center !important
			order: -2
		&_logo
			margin: 0 auto 20px !important
			width: fit-content
		&_nav
			margin-bottom: 30px
			&__title
				display: flex
				justify-content: center
				align-items: center
				margin-bottom: 0
				span
					padding-right: 11px
				svg
					path
						stroke: white
			&__list
				display: flex
				flex-direction: column
				flex-wrap: nowrap
				max-height: 0
				text-align: center
				overflow: hidden
				transition: max-height 300ms ease
				transition: padding-top 300ms ease
			&__item
				font-size: 16px

			&.active
				margin-bottom: 20px
				.footer_nav
					&__list
						padding-top: 20px
						max-height: 500px
						transition: max-height 300ms ease
						transition: padding-top 300ms ease
					&__title
						svg
							transform: rotate(-180deg)
		&_app__img
			margin-bottom: 20px
		.language
			&_dropdown
				display: block
				order: -1
		.social
			margin-bottom: 60px
			&_item
				display: inline-flex
				align-items: center
				margin: 0 13px
			.instagram
				width: 24px
				height: 24px
			.facebook
				width: 14px
				height: 28px
			.vk
				width: 32px
				height: 18px
			.youtube
				width: 30px
				height: 21px
		.copyright
			margin-bottom: 10px
			text-align: center
		.dropdown
			&-menu
				margin: 0 -95px
				border: none
				padding: 23px 0px 23px 10px
				width: 303px
				columns: 2
				column-rule: 1px solid $color_gray
				background: white
				box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.25)
				border-radius: 6px
				outline: none
				&::after
					content: ''
					position: absolute
					bottom: 100%
					left: 50%
					margin: 0 -5px
					width: 0
					height: 0
					border-left: 10px solid transparent
					border-right: 10px solid transparent
					border-bottom: 5px solid white
				&[x-placement='top-start']
					&::after
						bottom: auto
						top: 100%
						border-bottom: 0px solid white
						border-top: 5px solid white

			&-item
				padding-top: 0
				padding-left: 20px
				padding-bottom: 0
				line-height: 2.2
				&:hover
					background: white
					font-weight: 600
							