@import '../variables.sass'

.burger_nav
	display: none
	margin: -5px 0 0

.container_header_left
	display: flex
	align-items: center
	height: 100%

.container_header_rigth
	display: flex
	justify-content: flex-end
	align-items: center


.header2
	padding: 2rem 1rem

.header
	padding: 22px 0 20px
	border-bottom: 1px solid $color_gray__light
	&_logo
		display: block
		margin-right: 47px
		width: 141px
		height: 42px
		position: relative
		.icon
			position: absolute
			left: 0
			top: 0
			&_hover
				opacity: 0
		&:hover
			.icon
				opacity: 0
				&_hover
					opacity: 1
					margin: -5px -10px

	&_nav
		&__link
			&:first-child
				a
					position: relative
					padding: 0 23px
					&:after
						position: absolute
						left: 0
						top: 2px 
						content: ''
						width: 1px
						height: 20px
						background: $color_gray
						border-radius: 1px
					&:before
						position: absolute
						right: 0
						top: 2px 
						content: ''
						width: 1px
						height: 20px
						background: $color_gray
						border-radius: 1px
			&:nth-child(2)
				a
					padding-left: 22px
			a
				display: block
				padding: 0 12px
				font-weight: 600
				font-size: 14px
				line-height: 22px
	&_login
		min-width: 180px
		letter-spacing: 0.3px
		line-height: 44px
		&__icon
			display: none
			position: relative
			margin: -4px 18px 0 0
			padding: 0 18px 0 0
			background: none
			border: none
			box-shadow: none
			outline: none
			line-height: 1
			height: auto
			width: auto
			&:after
				position: absolute
				right: 0
				top: 50%
				margin: -8.5px -1px
				content: ''
				width: 1px
				height: 17px
				background: $color_gray
			&:hover, &:active
				background: none !important
				border: none !important
				box-shadow: none !important

	.language_dropdown 
		.dropdown
			&-menu
				margin: 0 -114px
				border: none
				padding: 23px 0px 23px 10px
				width: 303px
				columns: 2
				column-rule: 1px solid $color_gray
				background: white
				box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.25)
				border-radius: 6px
				outline: none
				&::after
					content: ''
					position: absolute
					bottom: 100%
					left: 50%
					margin: 0 -5px
					width: 0
					height: 0
					border-left: 10px solid transparent
					border-right: 10px solid transparent
					border-bottom: 5px solid white
			&-item
				padding-top: 0
				padding-left: 20px
				padding-bottom: 0
				line-height: 2.2
				&:hover
					background: white
					font-weight: 600
			&-toggle 
				.sr-only
					svg
						path
							stroke: $color_blue
				&:hover
					svg
						box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25)
				& > svg 
					g
						fill: $color_blue
	.burger_nav
		position: relative
		&__login
			margin-bottom: 27px
			width: 172px
			font-size: 14px
			line-height: 44px
			letter-spacing: 0.2px
		&__close
			margin-bottom: 23px
		&__link
			margin: 0 auto
			max-width: 147px
			font-size: 15px
			&-base
				margin-bottom: 23px
				padding: 10px 0
				border-top: 1px solid $color_gray
				border-bottom: 1px solid $color_gray
			.nav-link
				padding: 5px 0
		.btn
			padding: 0
		.dropdown
			&-menu
				margin: 5px -328px
				border: none
				padding: 34px 0px
				width: 328px
				background: white
				box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.25)
				border-radius: 6px
				outline: none
				text-align: center
				&::after
					content: ''
					position: absolute
					bottom: 100%
					left: 100%
					margin: 0 -30px
					width: 0
					height: 0
					border-left: 10px solid transparent
					border-right: 10px solid transparent
					border-bottom: 5px solid white

@media (max-width: 1024px)
	.container
		padding-left: 24px
		padding-right: 24px
	.header
		padding: 18px 0 16px
		border: none
		&_logo 
			&:hover
				.icon
					opacity: 1
			.icon
				width: 100px
				&_hover
					display: none
		&_login__icon
			display: block
	.container_header_options 
		display: none !important
	.container_header_rigth
		display: none !important

	.burger_nav
		display: block
@media (max-width: 360px)
	.container
		padding-left: 15px
		padding-right: 15px
	.header 
		.burger_nav 
			.dropdown-menu
				margin: 5px -290px
				width: 290px
