<template lang="pug">
  .doctors_best__shadow
    .doctors_best__slider
      Slick(ref='slick', :options='slickOptions')
        .doctors_best__slide(v-for='doctor in doctors')
          .doctors_best__card
            .doctors_best__image
              img(:src="doctor.image")
            .doctors_best__text
              .doctors_best__surname {{ doctor.surname }}
              .doctors_best__name {{ doctor.name }}
              .doctors_best__department {{ doctor.department }}
            .rating
              icon-base(icon-name='star' width="12" height="12" viewBox='0 0 12 12' iconColor='#2CB2DB')
                icon-star
              strong {{ doctor.rating }}
              | &nbsp;/&nbsp;
              strong 5
</template>
<script>
import Slick from 'vue-slick'
import IconBase from '@/components/IconBase.vue'
import { IconStar } from '@/components/icons'

export default {
  components: {
    Slick,
    IconBase,
    IconStar
  },
  data () {
    return {
      doctors: [
        {
          image: 'http://placehold.it/120x120',
          surname: 'Калеченок',
          name: 'Надежда Сергеевна',
          department: 'Терапия',
          rating: '5'
        },
        {
          image: 'http://placehold.it/120x120',
          surname: 'Рустамова',
          name: 'Карина Эриксовна',
          department: 'Педиатрия',
          rating: '4.5'
        },
        {
          image: 'http://placehold.it/120x120',
          surname: 'Коваль',
          name: 'Ольга Валентиновна',
          department: 'Травмотология \nи ортопедия',
          rating: '4.5'
        },
        {
          image: 'http://placehold.it/120x120',
          surname: 'Калеченок',
          name: 'Надежда Сергеевна',
          department: 'Терапия',
          rating: '5'
        },
        {
          image: 'http://placehold.it/120x120',
          surname: 'Рустамова',
          name: 'Карина Эриксовна',
          department: 'Педиатрия',
          rating: '4.5'
        },
        {
          image: 'http://placehold.it/120x120',
          surname: 'Коваль',
          name: 'Ольга Валентиновна',
          department: 'Травмотология \nи ортопедия',
          rating: '4.5'
        }
      ],
      slickOptions: {
        slidesToShow: 3,
        infinite: false,
        accessibility: true,
        adaptiveHeight: false,
        arrows: true,
        dots: true,
        draggable: true,
        edgeFriction: 0.30,
        swipe: true,
        nextArrow: '<span class="nextArrow"></span>',
        prevArrow: '<span class="prevArrow"></span>',
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              arrows: false
            }
          },
          {
            breakpoint: 376,
            settings: {
              slidesToShow: 4,
              arrows: false,
              dots: false
            }
          }
        ]
      }
    }
  },
  methods: {
    next () {
      this.$refs.slick.next()
    },
    prev () {
      this.$refs.slick.prev()
    },
    reInit () {
      this.$refs.slick.reSlick()
    }
  }
}
</script>

<style lang="sass">
  @import "../../assets/styles/components/sliders/doctors.sass"
</style>
