@import '../../variables.sass'

.doctors
	padding-top: 80px
	padding-bottom: 30px
	&_best
		&__title
			margin-bottom: 29px
			font-size: 15px
			text-align: center
			color: rgba(0,0,0,0.5)
		&__slider
			width: 540px
		&__slide
			height: 100%
			width: 180px
		&__card
			display: flex
			flex-direction: column
			justify-content: space-between
			position: relative
			padding: 0 10px
			height: 100%
			text-align: center
		&__image
			margin: 0 auto 10px
			width: 100%
			max-width: 120px
			max-height: 120px
			overflow: hidden
			img 
				display: block
				margin: 0 auto
				border-radius: 6px
				max-width: 100%
		&__text
			display: inline-flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			flex-grow: 1
		&__surname
			margin-bottom: 2px
			font-size: 14px
		&__name
			flex-grow: 1
			margin-bottom: 5px
			font-size: 14px
		&__department
			display: inline-flex
			align-items: center
			margin-bottom: 7px
			min-height: 32px
			font-size: 12px
			font-weight: 700
			line-height: 1.1
			text-align: center
	.rating
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		font-family: Adelle Cyrillic
		color: #6F7173
		letter-spacing: 0px
		svg
			position: relative
			top: -2px
			margin-right: 6px

	.slick
		&-track
			display: flex
		&-slide
			height: auto
			> div
				height: 100%
		&-dots
			display: flex
			justify-content: center
			margin: 22px auto 0
			padding: 0
			max-width: 130px
			li
				box-sizing: border-box
				position: relative
				margin: 0 6px
				opacity: 1
				list-style: none
				button
					display: block
					padding: 0
					width: 10px
					height: 10px
					border: 2px solid white
					border-radius: 50%	
					outline: none
					font-size: 0
					background: white
					cursor: pointer
					box-shadow: 0px 0px 0px 1px $color_blue
					overflow: hidden
					&:hover
						transition: all 300ms ease
						background: $color_blue
				&.slick-active
					button
						border-color: $color_blue
						background: $color_blue


		&-arrow
			display: block
			position: absolute
			top: 100%
			margin-top: -11px
			width: 6px
			height: 10px
			background-position: center center
			background-size: cover
			cursor: pointer
			&.prevArrow
				left: 175px
				background-image: url('../../assets/images/arr-left.svg')
			&.nextArrow
				right: 175px
				background-image: url('../../assets/images/arr-right.svg')

@media (max-width: 1199px)
	.doctors
		&_best
			&__title
				margin-bottom: 29px
				font-size: 15px
				text-align: center
				color: rgba(0,0,0,0.5)
			&__slider
				width: 100%
			&__slide
				width: auto
@media (max-width: 768px)
	.doctors
		padding-top: 20px
		padding-bottom: 20px
		&_best
			&__card
				padding: 0 5px
			&__surname, &__name
				font-size: 14px
@media (max-width: 375px)
	.doctors
		padding-bottom: 40px
		&_best
			overflow: hidden
			&__shadow
				position: relative
				width: 100%
				&::before
					position: absolute
					right: -100px
					top: -25%
					width: 100px
					height: 150%
					content: ''
					box-shadow: -10px 0px 20px rgba(51, 51, 51, 0.2)
					border-radius: 50%
				&::after
					position: absolute
					z-index: 1
					right: -200px
					top: -70%
					width: 200px
					height: 240%
					content: ''
					background: white
			&__slider
				margin: 0 -8px
				width: 416px
			&__image
				width: 80px
				height: 80px
			&__name
				line-height: 1