<template lang="pug">
  section
    .container-style
      .div-Style
        b-row
          b-col()
            .title
              | Страница
            .sub-title
              | 404
            .img-container
              img(src='@/assets/images/404/logo.png' height='100%' width='100%')
            .paragraph
              | К сожалению, у нас такой страницы больше нет или Вы ввели неверный адрес. Как бы там ни было, выход есть всегда:
            b-button.btn_blue.style-item(block='') На главную
            b-button.btn_register Вернуться назад
</template>

<style lang="scss" scoped>
.title {
  font-family: AdelleCyrillic;
  font-size: 39px;
  line-height: 46px;
  color: #333333;
  text-align: center;
  margin-top: 100px;
}

.sub-title {
  font-family: Adelle Cyrillic;
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  line-height: 92px;
  text-align: center;
  color: #2CB2DB;
}

.img-container {
  display: flex;
  justify-content: center;
}

img {
  width: 326.47px;
  height: 160px;
  margin-top: 54px;
}

.paragraph {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-top: 80px;
}

.style-item {
  margin-top: 56px;
  widows: 294px;
  width: 294px;
  height: 46px;;
}

.btn_register {
  margin-top: 30px;
  margin-bottom: 200px;
  width: 294px;
  height: 46px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #2CB2DB;
  background: #FFFFFF;
  border: 1px solid #2CB2DB;
  box-sizing: border-box;
  border-radius: 6px;
}

.div-Style {
  width: 355px;
}

.container-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
