<template lang="pug">
  b-container
    b-row.justify-content-md-center(v-if="step !== 8 && step !== 9")
      b-col(align-self="center")
        .title(v-if="step !== 7")
          span.sptitle Восстановить
          | пароль –
          span.sptitle легко
        .title(v-if="step == 7")
          span.sptitle Восстановить
          | пароль
          span.sptitle не всегда так просто
    b-row
      b-col
        .paragraph
          div(v-if="step == 1")
            | Просто введите email, указанный Вами при регистрации
          div(v-if="step == 2")
            | Мы отправили ссылку, по которой можно восстановить пароль. Проверьте указанную почту, она уже должна быть там
          div(v-if="step == 3")
            | Придумайте новый пароль. Лучше запишите его куда-нибудь, чтобы не забыть
          div(v-if="step == 4")
            icon-base(width='16' height='16' viewbox='0 0 16 16' iconColor="#2CB2DB")
              icon-circular-check
            | Доступ к аккаунту успешно восстановлен!
          div(v-if="step == 5")
            | Введите номер телефона, привязанный к Вашему аккаунту
          div(v-if="step == 6")
            | На указанный номер телефона был выслан 5-значный код, введите его в поле ниже.
            a(href='#') Выслать повторно
            | можно через 45 секунд...
          div(v-if="step == 7")
            | Постарайтесь вспомнить почту, с помощью которой происходила регистрация. Если Вы не помните никаких данных, дающих доступ к аккаунту – свяжитесь с нами
    div(v-if="step == 1")
      b-row.justify-content-md-center
        b-col.content-email(cols="6")
          b-row
            b-col
              input-custom(placeholderCustom='Email' typeCustom="email")
            b-col(cols="4")
              b-button.btn_blue(block='') Восстановить
      b-row
        b-col
          .sub-text
            | Забыли email? Нажмите
            a(href='#') здесь.
    div(v-if="step == 3")
      b-row.justify-content-md-center
        b-col(cols="4")
          input-custom(placeholderCustom='Email' typeCustom="email")
          input-custom(placeholderCustom='Email' typeCustom="email")
          b-button.btn_blue(block='') Изменить
    div(v-if="step == 4")
      b-row.justify-content-md-center
        b-col(cols="4")
          login-em-pass-component
    div(v-if="step == 5")
      b-row.justify-content-md-center
        b-col.content-email(cols="6")
          b-row
            b-col
              input-custom(placeholderCustom='+505 894901414' typeCustom="email")
            b-col(cols="4")
              b-button.btn_blue(block='') Восстановить
      b-row
        b-col
          .sub-text
            | Не привязывали телефон? Нажмите
            a(href='#') здесь.
    div(v-if="step == 6")
      b-row.justify-content-md-center
        b-col.content-email(cols="6")
          input-custom(placeholderCustom='Введите код из СМС' typeCustom="email")
    div(v-if="step == 7")
      b-row.justify-content-md-center
        b-col.content-email(cols="6")
          input-custom(placeholderCustom='Ваше имя' typeCustom="email")
          input-custom(placeholderCustom='Ваш email' typeCustom="email")
          b-form-textarea(placeholder='Постарайтесь подробно описать проблему' rows="3")
          b-button.btn_blue(block='') Отправить

    validation-email-component(v-if="step == 8")
    reg-success-component(v-if="step == 9")
</template>
<script>
import InputCustom from '@/components/InputCustom.vue'
import LoginEmPassComponent from '@/components/helpers/login/LoginEmPassComponent.vue'
import ValidationEmailComponent from '@/components/helpers/register/ValidationEmailComponent.vue'
import RegSuccessComponent from '@/components/helpers/login/RegSuccessComponent.vue'

import IconBase from '@/components/IconBase.vue'
import { IconCircularCheck } from '@/components/icons'
export default {
  components: {
    InputCustom,
    LoginEmPassComponent,
    ValidationEmailComponent,
    RegSuccessComponent,
    IconBase,
    IconCircularCheck
  },
  data () {
    return {
      step: 1
    }
  }
}
</script>
<style lang="scss" scoped>
.sub-text {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  margin-top: 8px;
}

.paragraph {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-top: 35px;
  text-align: center;
}

.sptitle {
  color: #2CB2DB;
}

.title {
  font-family: Adelle Cyrillic;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;

  text-align: center;
  color: #333333;
}

.content-email {
  margin-top: 44px;
}
</style>
