<template lang="pug">
  .container.page.ask_page
    .row
      .col-lg-6.offset-lg-3.text-center
        h2.page_title.ask_title {{ $t("components.questions.formTitle.ask") }}&nbsp;
          span {{ $t("components.questions.formTitle.from") }}
            span &nbsp;10 000&nbsp;
          | {{ $t("components.questions.formTitle.time") }}
    .row
      .col.text-center
        .ask_subtitle Ваш вопрос будет отправлен всем специалистам в данной области
    app-ask

</template>

<script>
import VueRecaptcha from 'vue-recaptcha'
import IconBase from '../components/IconBase.vue'
import { IconClip, IconEmail, IconText } from '../components/icons/'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        text: ''

      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  components: {
    IconBase,
    IconClip,
    IconEmail,
    IconText,
    VueRecaptcha
  }
}
</script>

<style lang="sass">
  @import "../assets/styles/pages/ask.sass"
</style>
