<template lang="pug">
  section.page.page_base
    .container
      .row
        .col-md-8
          h2.page_title Ответы
            br
            small на часто задаваемые вопросы пациентов
        .col-md-4
          .supports.text-right
            | Служба поддержки
      .row(role='tablist')
        .col-md-5
          b-card.base_question(no-body='')
            b-card-header.p-1(header-tag='header', role='tab')
              b-button(block='', href='#', v-b-toggle.accordion-1='')
                icon-base(width='12', height='18', icon-name='' iconColor='#2CB2DB')
                  icon-Question
                | {{ base[0].question }}

        .col-md-7
          b-collapse#accordion-1(visible='', accordion='my-accordion', role='tabpanel')
            b-card-body
              b-card-text
                .title {{ base[0].answer.title }}
                .text {{ base[0].answer.text }}
</template>

<script>
import IconBase from '../components/IconBase.vue'
import {
  IconQuestion,
  IconClock
} from '../components/icons/'

export default {
  data () {
    return {
      base: [{
        question: 'Что такое Qapsula?',
        answer: {
          title: 'Qapsula —',
          text: 'это уникальный телемедицинский портал, где можно получить консультацию врача любой специальности online. Выберите специалиста, который Вас интересует, и запишитесь к нему на приём'
        }
      },
      {
        question: 'Зачем нужна Qapsula, если можно сходить в поликлинику?',
        answer: {
          title: 'Наш сервис',
          text: 'позволяет Вам получать медицинские консультации, не выходя из дома, без очередей и длительного ожидания своей записи. Даже будучи на даче или на отдыхе Вы всегда можете быть уверены в том, что Ваше здоровье в надежных руках. Также, Qapsula полезна для людей, которые живут далеко от специализированных медицинских учреждений или не могут попасть туда по состоянию здоровья'
        }
      },
      {
        question: 'Чем может быть полезна Qapsula, если я уже знаю свой диагноз и имею план лечения?',
        answer: {
          title: 'Если Вам уже поставлен диагноз,',
          text: 'но в последнее время вы почувствовали ухудшение самочувствия, то наши врачи могут дать рекомендации по коррекции терапии. \nЕсли же вы не уверены в точности диагноза, который Вам поставили в поликлинике по месту жительства, то Ваш недуг может быть ещё раз оценён крупнейшим специалистом в этой области, мнению которого Вы доверяете больше'
        }
      },
      {
        question: 'Какие данные я могу загружать в свой профиль?',
        answer: {
          title: 'Вы можете',
          text: 'загружать результаты лабораторных анализов, снимки УЗИ, КТ, МРТ, а также фотографии кожных проявлений заболевания, если таковые имеются. Чем больше свежих результатов анализов Вы загрузите в свою медицинскую карту, тем более полные рекомендации сможет дать специалист'
        }
      },
      {
        question: 'Не опасно ли загружать данные анализов на сайт?',
        answer: {
          title: 'Ваши данные',
          text: 'надёжно зашифрованы нашей системой и доступны для просмотра только врачам. Мы несём юридическую ответственность за сохранность Ваших персональных данных'
        }
      },
      {
        question: 'Сколько стоит одна видео-консультация?',
        answer: {
          title: 'Стоимость и продолжительность',
          text: 'видео-консультации устанавливает сам врач. В неё входит беседа с Вами, оценка Ваших анализов, назначение рекомендаций по лечению и дальнейшему обследованию'
        }
      },
      {
        question: 'Есть ли в Qapsula бесплатные возможности?',
        answer: {
          title: 'Мы понимаем',
          text: 'Вашу обеспокоенность, и именно поэтому клиенты нашего сервиса могут связаться с врачом ещё двумя способами:',
          list: [
            'задать бесплатный вопрос (действует ограничение в 150 символов) всему коллективу врачей',
            'написать врачу личное сообщение. Цена указана у каждого врача в профиле.'
          ]
        }
      }]
    }
  },
  components: {
    IconBase,
    IconQuestion,
    IconClock
  }
}
</script>

<style lang="sass">
@import "../assets/styles/pages/base.sass"
</style>
