<template lang="pug">
  section.page.contacts_page
    .container
      .row
        .col
          h2.page_title.contacts_title Контакты
      .row
        .col.d-flex.contacts_wrapper
          .contacts_item.contacts_item__address
            h3.contacts_subtitle Адрес
            .contacts_data.d-flex.align-items-center
              icon-base(width='13', height='18', viewBox='0 0 13 18', iconColor='#2CB2DB', icon-name='Адрес')
                icon-Mark
              | Москва, Новый Арбат, 21
          .contacts_item.contacts_item__phone
            h3.contacts_subtitle Телефон
            .contacts_data.d-flex.align-items-center
              icon-base(width='16', height='16', viewBox='0 0 18 19', iconColor='#2CB2DB', icon-name='Телефон')
                icon-Phone
              | +7 (499) 241 51 37
          .contacts_item.contacts_item__support
            h3.contacts_subtitle Поддержка
            .contacts_data.d-flex.align-items-center
              icon-base(width='18', height='14', viewBox='0 0 22 16', iconColor='#2CB2DB', icon-name='Поддержка')
                icon-Email
              | support@qapsula.com
          .contacts_item.contacts_item__social
            app-social.contacts_social
    .contacts_map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3750739574475!2d37.58329521600562!3d55.751986380553156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bb51e6758bf%3A0x8976061673df3990!2z0J3QvtCy0YvQuSDQkNGA0LHQsNGCINGD0LsuLCAyMSwg0JzQvtGB0LrQstCwLCAxMTkwMTk!5e0!3m2!1sru!2sru!4v1573986369199!5m2!1sru!2sru', width='100%', height='240', frameborder='0', style='border:0;', allowfullscreen='')
    .container.communication
      .row
        .col.text-center
          h2.page_title.communication_title Свяжитесь с нами
          .communication_subtitle Ответим на любой Ваш вопрос в течение одного рабочего дня
      app-feedback

</template>
<script>
import IconBase from '../components/IconBase.vue'
import { IconEmail, IconMark, IconMan, IconPhone } from '../components/icons/'
export default {
  components: {
    IconBase,
    IconEmail,
    IconMan,
    IconMark,
    IconPhone
  }
}
</script>

<style lang="sass">
  @import "../assets/styles/pages/contacts.sass"
</style>
