<template lang="pug">
  .page.page_faq
    section.faqs
      .container
        .row.faqs_header
          .col-md-8
            h2.page_title.page_faq__title Ответы
              small на часто задаваемые вопросы пациентов
          .col-md-4
            .supports
              .supports_time.d-flex.justify-content-end.align-items-center.text-right
                | Служба поддержки
                icon-base(width='16', height='16', viewBox='0 0 16 16', icon-name='Служба поддержки', iconColor='#2CB2DB')
                  icon-Clock
                span 24 / 7
              .supports_phone.d-flex.justify-content-end.align-items-center.text-right
                icon-base(width='18', height='19', viewBox='0 0 18 19', icon-name='Служба поддержки', iconColor='#2CB2DB')
                  icon-Phone
                a(href="tel:88000000000") 8 (800) 000 00 00

        .row
          .col
            b-tabs.d-flex.faqs_wrapper
              b-tab(v-for='(faq, index) in faqs' v-bind:key="index")
                template(v-slot:title='')
                  span.faqs_questions
                    icon-base(width='12', height='18', icon-name='', iconColor='#2CB2DB')
                      icon-Question
                    | {{ faq.question }}
                .faqs_answers__item
                  .faqs_answers__title {{ faq.answer.title }}
                  .faqs_answers__text {{ faq.answer.text }}

    section.help
      .container
        .row
          .col-md-4
            h2.page_title.help_title Нужна помощь?
            p.help_subtitle Задайте свой вопрос консультанту
              br
              | в&nbsp;одной из социальных сетей
            .help_social.d-flex
              a.help_social__icon.social_fb(href='https://www.facebook.com/Qapsula-954946581245310', target='_blank')
                icon-base(width='9', height='19', viewBox='0 0 9 19', icon-name='Facebook')
                  icon-Facebook
              a.help_social__icon.social_vk(href='https://vk.com/qapsula', target='_blank')
                icon-base(width='24', height='14', viewBox='0 0 24 14', icon-name='ВКонтакте')
                  icon-Vk
              a.help_social__icon.social_ok(href='https://vk.com/qapsula', target='_blank')
                icon-base(width='13', height='21', viewBox='0 0 13 21', icon-name='Одноклассники')
                  icon-Ok
          .col-md-8
            .help_image
              img.help_image-1(src='../assets/images/faq/glasses.png')
              img.help_image-2(src='../assets/images/faq/phone.png')
              img.help_image-3(src='../assets/images/faq/headphones.png')

    section.ask
      .container
        .row
          .col.text-center
            h2.page_title.ask_title Не нашли ответа на свой вопрос?
        .row.d-flex.justify-content-center
          .col-lg-5.text-center
            .ask_subtitle Воспользуйтесь формой обратной связи и мы ответим Вам на&nbsp;указанный email в течение одного рабочего дня
        app-feedback
</template>

<script>
import IconBase from '../components/IconBase.vue'
import {
  IconQuestion,
  IconClock,
  IconPhone,
  IconFacebook,
  IconOk,
  IconVk
} from '../components/icons/'

export default {
  data () {
    return {
      faqs: [{
        question: 'Что такое Qapsula?',
        answer: {
          title: 'Qapsula —',
          text: 'это уникальный телемедицинский портал, где можно получить консультацию врача любой специальности online. Выберите специалиста, который Вас интересует, и запишитесь к нему на приём'
        }
      },
      {
        question: 'Зачем нужна Qapsula, если можно сходить в поликлинику?',
        answer: {
          title: 'Наш сервис',
          text: 'позволяет Вам получать медицинские консультации, не выходя из дома, без очередей и длительного ожидания своей записи. Даже будучи на даче или на отдыхе Вы всегда можете быть уверены в том, что Ваше здоровье в надежных руках. Также, Qapsula полезна для людей, которые живут далеко от специализированных медицинских учреждений или не могут попасть туда по состоянию здоровья'
        }
      },
      {
        question: 'Чем может быть полезна Qapsula, если я уже знаю свой диагноз и имею план лечения?',
        answer: {
          title: 'Если Вам уже поставлен диагноз,',
          text: 'но в последнее время вы почувствовали ухудшение самочувствия, то наши врачи могут дать рекомендации по коррекции терапии. \nЕсли же вы не уверены в точности диагноза, который Вам поставили в поликлинике по месту жительства, то Ваш недуг может быть ещё раз оценён крупнейшим специалистом в этой области, мнению которого Вы доверяете больше'
        }
      },
      {
        question: 'Какие данные я могу загружать в свой профиль?',
        answer: {
          title: 'Вы можете',
          text: 'загружать результаты лабораторных анализов, снимки УЗИ, КТ, МРТ, а также фотографии кожных проявлений заболевания, если таковые имеются. Чем больше свежих результатов анализов Вы загрузите в свою медицинскую карту, тем более полные рекомендации сможет дать специалист'
        }
      },
      {
        question: 'Не опасно ли загружать данные анализов на сайт?',
        answer: {
          title: 'Ваши данные',
          text: 'надёжно зашифрованы нашей системой и доступны для просмотра только врачам. Мы несём юридическую ответственность за сохранность Ваших персональных данных'
        }
      },
      {
        question: 'Сколько стоит одна видео-консультация?',
        answer: {
          title: 'Стоимость и продолжительность',
          text: 'видео-консультации устанавливает сам врач. В неё входит беседа с Вами, оценка Ваших анализов, назначение рекомендаций по лечению и дальнейшему обследованию'
        }
      },
      {
        question: 'Есть ли в Qapsula бесплатные возможности?',
        answer: {
          title: 'Мы понимаем',
          text: 'Вашу обеспокоенность, и именно поэтому клиенты нашего сервиса могут связаться с врачом ещё двумя способами:',
          list: [
            'задать бесплатный вопрос (действует ограничение в 150 символов) всему коллективу врачей',
            'написать врачу личное сообщение. Цена указана у каждого врача в профиле.'
          ]
        }
      }]
    }
  },
  components: {
    IconBase,
    IconQuestion,
    IconClock,
    IconFacebook,
    IconOk,
    IconVk,
    IconPhone
  }
}
</script>

<style lang="sass">
@import "../assets/styles/pages/faq.sass"
</style>
