<template lang="pug">
  .container.page.feedback_page
    .row
      .col-lg-4.offset-lg-4.text-center
        h2.page_title.feedback_title
          span Свяжитесь&nbsp;
          | с нами
    .row
      .col.text-center
        .feedback_subtitle Ответим на любой Ваш вопрос в течение одного рабочего дня
    app-feedback
</template>

<script>
import VueRecaptcha from 'vue-recaptcha'
import IconBase from '../components/IconBase.vue'
import { IconClip, IconEmail, IconText } from '../components/icons/'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        text: ''

      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  components: {
    IconBase,
    IconClip,
    IconEmail,
    IconText,
    VueRecaptcha
  }
}
</script>

<style lang="sass">
  @import "../assets/styles/pages/feedback.sass"
</style>
