<template lang="pug">
  section
    b-container.login_register
      b-row(align-h="center")
        b-col(cols='12' md='5' )
          b-row
            b-col
              .div_register
                a.btn_register(@click="stepMain = 0, border_1 = '1px solid #2CB2DB', border_2 = 'none'" :style="{ border: border_1, color: '#2CB2DB' }") Вход
                a.btn_register(@click="stepMain = 1, border_1 = 'none', border_2 = '1px solid #2CB2DB'" :style="{ border: border_2, color: '#2CB2DB' }") Регистрация
              .spacer
              .spacer
          .login(v-if="stepMain == 0")
            login-component
          .div_reg_doc_pat(v-if="stepMain == 1 || stepMain == 2")
            b-container
              b-row
                b-col
                  .div_pat_icon(@click="stepMain = 1, colorIconPat = deactive, colorIconDoc = active")
                    .div_pat_icon_act
                      .container_icon_1
                        icon-base(width='34'
                                  height='40'
                                  viewBox='0 0 34 40'
                                  :iconColor="colorIconPat"
                                  ).center
                          icon-patient
                        p Я – пациент

                b-col
                  .div_doc_icon(@click="stepMain = 2, colorIconPat = active, colorIconDoc = deactive")
                    .div_doc_icon_act
                      .container_icon
                        icon-base(width='34'
                                  height='41'
                                  viewBox='0 0 34 41'
                                  :iconColor="colorIconDoc"
                                  ).center
                          icon-doctor
                        p Я – доктор
                b-col(sm="12")
                  h3.text_center Используя почту
                  .spacer
                  .spacer

          .register(v-if="stepMain == 1")
            patient-component

          .register(v-if="stepMain == 2")
            doctor-component
</template>
<script>
// Import helpers
import LoginComponent from '@/components/helpers/login/LoginComponent.vue'
import PatientComponent from '@/components/helpers/register/PatientComponent.vue'
import DoctorComponent from '@/components/helpers/register/DoctorComponent.vue'

import IconBase from '@/components/IconBase.vue'
import { IconPatient, IconDoctor } from '@/components/icons'

export default {
  components: {
    LoginComponent,
    PatientComponent,
    DoctorComponent,
    IconBase,
    IconPatient,
    IconDoctor
  },
  data () {
    return {
      stepMain: 0,
      formView: true,
      border_1: '1px solid #2CB2DB',
      border_2: 'none',
      colorIconPat: '#2CB2DB',
      colorIconDoc: '#95D8ED',
      active: '#95D8ED',
      deactive: '#2CB2DB'
    }
  }
}
</script>
<style lang="scss" scoped>
.div_register {
  display: flex;
  justify-content: center;
  a:first-child{
    margin-right: 1rem;
  }
}
.div_pat_icon_act {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.div_pat_icon_deact {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.div_doc_icon_act {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;

}

.btn_register {
  cursor:pointer;
  border-radius: 6px;
  font-family: "AdelleCyrillic";
  font-size: 20px;
  height: 46px;
  width: auto;
  padding: 12px 24px;
}

.text_center {
  text-align: center;
  width: 100%;
  margin:0;
  color: #707070;
}

.spacer {
  height: 1rem;
  width: 100%;
}

.container_icon_1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  p {
    font-size: 15px;
    cursor: pointer;
    padding: 1 rem;
  }
  &::before{
    border-right: 1px solid #D6D6D6;
    height: 80px;
    position: absolute;
    right: 0;
    top: 5px;
    content:"";
  }
}

.container_icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  p {
    cursor: pointer;
    padding: 1 rem;
  }
}

.center {
  margin: auto;
}

.login_register {
  padding: 4rem 1rem;
}
</style>
