<template lang="pug">
  b-row
    b-col
      img.envelope(src='@/assets/images/restricted/padlock.png' height='100%' width='100%')
    b-col(cols='8')
      b-row.justify-content-md-center
        b-col(align-self="center" md="auto")
          .title
            | Страница
            span.sptitle под охраной
      b-row
        b-col
          .paragraph
            | Авторизуйтесь или зарегистрируйтесь, чтобы получить доступ
      b-row.justify-content-md-center
        b-col(cols="4")
          .btn-span
            b-button.btn_blue(block='') Вход | Регистрация
    b-col
      img.loup(src='@/assets/images/restricted/key.png' height='100%' width='100%')
</template>
<style lang="scss" scoped>
.sptitle {
  color: #2CB2DB;
}

.btn-span {
  margin-top: 30px;
}

.title {
  font-family: Adelle Cyrillic;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;

  text-align: center;
  color: #333333;
  margin-top: 60px;
}

.paragraph {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-top: 35px;
  text-align: center;
}
</style>
