<template lang="pug">
  section
    .container
      .row
        .col
          input(placeholder="e-mail")
          br
          input(placeholder="Password", type="password")
          br
          button Send
          button(@click="login") Login facebook
</template>

<script>
import configService from '../services/config'

export default {
  created() {

    window.fbAsyncInit = function() {
      FB.init({
        appId      : configService.apiIdFacebook,
        xfbml      : true,
        version    : 'v2.11'
    })

      //This function should be here, inside window.fbAsyncInit
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') console.log('connected')
      else if (response.status === 'not_authorized') console.log('Not autorized')
      else console.log('You are not logged in facebook')
    })

   }

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0]
     if (d.getElementById(id)) {return}
     js = d.createElement(s)
     js.id = id
     js.src = configService.urlFacebook
     fjs.parentNode.insertBefore(js, fjs)
    }
    (document, 'script', 'facebook-jssdk'))
  },
  methods: {

    login() {
			FB.login(function(response) {
        if (response.status === 'connected') console.log('connected')
        else if (response.status === 'not_authorized') console.log('Not autorized')
        else console.log('You are not logged in facebook')
			},{scope: 'email'});
    },

    getInfo() {
			FB.api('/me', 'GET', { fields: 'first_name,last_name,name,id' }, function(response) {
				document.getElementById('status').innerHTML = response.id
			})
		}
    
  }
}
</script>

