<template lang="pug">
  .pass
    b-form-input.intform(v-model="value"
                        :type="typeInput"
                        :placeholder="[[placeholderCustom]]"
                        v-on:keyup="passChange"
                        :style="styleComponent"
    )
    div(@mousedown="showPass")
      icon-base.eye(v-show="hidePass" icon-name='eye' width="24" height="14" viewbox='0 0 24 14' iconColor='#2CB2DB')
        icon-eye
      icon-base.eye(v-show="!hidePass" icon-name='eye-blind' width='25' height='16' viewbox='0 0 25 16' iconColor='#2CB2DB')
        icon-eye-blind
</template>
<script>
import IconBase from '@/components/IconBase.vue'
import { IconEye, IconEyeBlind } from '@/components/icons'

export default {
  props: {
    placeholderCustom: {
      type: String,
      required: false,
      default: 'Password'
    },
    status: {
      type: String,
      required: false,
      default: 'none'
    }
  },
  components: {
    IconBase,
    IconEye,
    IconEyeBlind
  },
  data () {
    return {
      value: null,
      typeInput: 'password',
      hidePass: true,
      styleComponent: {}
    }
  },
  watch: {
    status (val) {
      if (val === 'alert') {
        this.styleComponent = {
          borderColor: '#DE4949',
          backgroundColor: 'rgba(252, 237, 237, 0.7)'
        }
      } else if (val === 'success') {
        this.styleComponent = {
          borderColor: '#35B24A',
          backgroundColor: '#FFFFFF'
        }
      }
    }
  },
  methods: {
    passChange () {
      this.$emit('pass-change', this.value)
    },
    showPass () {
      console.log('Eye')
      if (this.hidePass === true) this.typeInput = 'text'
      if (this.hidePass === false) this.typeInput = 'password'
      this.hidePass = !this.hidePass
    }
  }
}
</script>
<style lang="scss">
@import "../assets/styles/components/inputPassCustom.sass"
</style>
