<template lang="pug">
  div
    b-form-input.form-login(v-model="value"
                            :type="[[typeCustom]]"
                            :placeholder="[[placeholderCustom]]"
                            v-on:keyup="inputChange"
                            v-on:click="clickChange")
</template>
<script>
export default {
  props: {
    placeholderCustom: {
      type: String,
      default: ''
    },
    typeCustom: {
      type: String,
      default: 'text'
    }
  },
  data () {
    return {
      value: null
    }
  },
  methods: {
    inputChange () {
      this.$emit('input-change', this.value)
    },
    clickChange () {
      this.$emit('click-change')
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../assets/styles/components/inputCustom.sass"
</style>
