<template lang="pug">
  .custom-l
    .label-warn-l
      | {{ textLabel }}
    .box-l
    .arrow-l
</template>

<script>
export default {
  props: {
    textLabel: {
      type: String,
      required: false,
      default: 'Код введён неверно'
    }
  }
}
</script>

<style lang="scss">
.custom-l {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 175px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.25);
  border-radius: 6px;
}

.box-l {
  position: absolute;
  width: 10px;
  height: 30px;
  left: 0;
  background: #FFFFFF;
  z-index: 1;
}

.arrow-l {
  width: 20px;
  height: 20px;
  border-top: 10px solid #FFFFFF;
  border-left: 10px solid #FFFFFF;
  box-shadow: -5px -5px 5px rgba(51, 51, 51, 0.05);
  transform: rotate(-45deg);
  border-radius: 4px;
  position: absolute;
  left: -6px;
}

.label-warn-l {
  color: #DE4949;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

</style>
