<template lang="pug">
  b-dropdown.language_dropdown(size='lg', variant='link', toggle-class='text-decoration-none')
    template(v-slot:button-content='')
      icon-base(width='27', height='27', viewBox='0 0 27 27', icon-name='Выберите язык')
        icon-earth
      span.sr-only
        icon-base(width='10', height='6', viewBox='0 0 10 6', icon-name='Выберите язык' iconColor='rgba(0,0,0,0)')
          icon-ArrowDown
      .language_selected
        span.language_selected__item(v-if="$i18n.locale == 'ru'") Рy
        span.language_selected__item(v-else-if="$i18n.locale == 'en'") EN
        span.language_selected__item(v-else-if="$i18n.locale == 'gr'") GR
        span.language_selected__item(v-else-if="$i18n.locale == 'tr'") TR
        span.language_selected__item(v-else-if="$i18n.locale == 'id'") ID
        span.language_selected__item(v-else-if="$i18n.locale == 'br'") BR
        span.language_selected__item(v-else-if="$i18n.locale == 'fr'") FR
        span.language_selected__item(v-else-if="$i18n.locale == 'es'") ES
        span.language_selected__item(v-else) AB
        span.language_selected__item {{ $i18n.locale.toUpperCase() }}

    b-dropdown-item(@click.prevent="setLocale('ru')") Русски
    b-dropdown-item(@click.prevent="setLocale('en')") English
    b-dropdown-item(@click.prevent="setLocale('gr')") Deutsch
    b-dropdown-item(@click.prevent="setLocale('tr')") Türk
    b-dropdown-item(@click.prevent="setLocale('id')") Indonesia
    b-dropdown-item(@click.prevent="setLocale('br')") Português
    b-dropdown-item(@click.prevent="setLocale('fr')") Français
    b-dropdown-item(@click.prevent="setLocale('es')") Español
    b-dropdown-item(@click.prevent="setLocale('ab')") עברית
</template>

<script>
import IconBase from '../components/IconBase.vue'
import { IconEarth, IconArrowDown } from '../components/icons/'
export default {
  components: {
    IconBase,
    IconEarth,
    IconArrowDown
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
      this.$router.push({
        params: { lang: locale }
      })
    }
  }
}
</script>

<style lang="sass">
@import "../assets/styles/components/social.sass"
</style>
