<template lang="pug">
  b-row
    b-col(sm="4" v-show="phoneList")
      .component_flags_father(:class="{ component_flags_father_no: !codeCountry }")
        .component_flags
          ul.flags(:class="{ flags_no: !codeCountry }")
            li(v-for='(country, index) in countries' :key="index")
              .component_selected(@click="clickItem(index)" :class="{'active': index == activeIndex}")
                b-row#row_country
                  b-col#img_country(sm="2")
                    img(:src="getImgUrl(country.iso2)" width='21' height='21')
                  b-col#name_country(sm="6")
                    | {{ country.nameRu }}
                  b-col#code_country(sm="2" v-if="codeCountry")
                    | +{{ country.dialCode }}
                  b-col#code_country(sm="2" v-else  :style="{ color: '#FFFFFF', zIndex: -1 }")
                    | +{{ country.dialCode }}
                hr#divider
      .box_spacer(:class="{ changeSide: !codeCountry }")
        //- b-col
        //-   input#input_phone(placeholder="Hola")

</template>

<script>
import { BRow, BCol } from 'bootstrap-vue'

import allCountries from '@/services/code-country'

export default {
  props: {
    phoneList: false,
    codeCountry: true
  },
  components: {
    'b-row': BRow,
    'b-col': BCol
  },
  data () {
    return {
      countries: [],
      activeIndex: null
    }
  },
  mounted () {
    this.countries = allCountries
    console.log(this.phoneList, this.codeCountry)
  },
  methods: {
    getImgUrl (iso) {
      let images = require.context('@/assets/images/flags/png/', false, /\.png$/)
      return images(`./${iso}.png`)
    },
    clickItem (index) {
      this.activeIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
.box_spacer {
  position: relative;
  width: 15px;
  left: 296px;
  border-top: 38px solid  #EAF7FB;
}

.changeSide {
  left: -10px;
}

.component_flags_father {
  position: absolute;
  width: 301px;
  height: 291px;
  overflow-y: scroll;

  /* primary 1 - 10% */

  background: #EAF7FB;
  box-shadow: 10px 8px 10px rgba(51, 51, 51, 0.15);
  border-radius: 6px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 1;
}

.component_flags_father_no {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.component_flags {
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 12px;
  margin-left: 8px;
}

.flags {
  position: relative;
  transform: scale(-1, 1);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flags_no {
  transform: scale(1, 1);
}

.component_selected {
  color: #333333;
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 16px;
  height: 42px;
}

#name_country {
  text-align: left;
  padding: 0;
}

#code_country {
  margin-right: 12px;
  padding: 0;
  text-align: end;
}

#row_country {
  height: 100%;
  align-content: center;
  justify-content: center;
}

#img_country {
  width: 21px;
}

// #input_phone {
//   background: #EAF7FB;
//   border: none;
//   border-radius: 6px;
//   margin-top: 18px;
//   width: 296px;
//   height: 46px;
// }

.active {
  background: #EAF7FB;
  width: 100%;
}

hr#divider {
  width: 251px;
  height: 1px;
  margin-top: 0;
  background: #EBEBEB;
  border-radius: 1px;
}

// .elements {
//   display: grid;
//   // grid-template-columns: 21px 194px 60px;
//   // grid-template-rows: 50px;
//   grid-template: 21px / 21px 170px 60px;
//   grid-column-gap: 8px;
//   grid-row-gap: 10px;
//   color: #333333;
//   font-family: Segoe UI;
//   font-size: 14px;
//   line-height: 16px;
// }

// .item:nth-of-type(0) {

// }

// .item:nth-of-type(1) {

// }

// .item:nth-of-type(2) {

// }

// .item_flag {
//   position: relative;
//   top: 10px;
//   color: #333333;
//   height: 45px;
// }

// .name_country {
//   left: 0;
// }

// .name_country img {
//   margin-right: 15px;
//   margin-left: 15px;
// }

// .code_country {
//   right: 0;
//   margin-right: 10px;
// }

</style>
