<template lang="pug">
  div
    b-popover(:target="idTrigger", :trigger='trigger' :placement='position', customClass="popover_style")
      .title-pop
        | {{ titlePop }}
      b-progress#bar-progress(:value='valueBarProgess' :max='max' :variant='colorBarProgress' height="4px" v-show='barProgress')
      .content-pop
        | {{ contextPop }}
</template>

<script>
export default {
  props: {
    titlePop: {
      type: String,
      required: false,
      default: ''
    },
    contextPop: {
      type: String,
      required: false,
      default: ''
    },
    idTrigger: {
      type: String,
      required: true,
      default: 'none'
    },
    trigger: {
      type: String,
      required: true,
      default: 'click'
    },
    position: {
      type: String,
      required: true,
      default: 'right'
    },
    barProgress: {
      type: Boolean,
      required: false,
      default: true
    },
    colorBarProgress: {
      type: String,
      required: false,
      default: 'warning'
    },
    valueBarProgess: {
      type: Number,
      required: false,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>
.popover_style {
  width: 258px;
  height: 149px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25);
  border-radius: 6px;
}

.title-pop {
  margin-top: 3px;
  margin-left: 6px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.content-pop {
  margin-top: 18px;
  margin-left: 6px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

#bar-progress {
  margin-top: 14px;
  margin-left: 6px;
  margin-right: 6px;
}
</style>
