<template lang="pug">
  .row.question
    .col.d-flex
      .question_video
        video(width='auto', height='400', autoplay, loop, poster='../assets/images/home/question.png')
          source(src='../assets/video/question.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
      .question_form
        .question_form__title {{ $t("components.questions.formTitle.ask") }}
          span {{ $t("components.questions.formTitle.from") }}
            span &nbsp;10 000&nbsp;
          | {{ $t("components.questions.formTitle.time") }}
        .question_form__subtitle.d-flex.justify-content-between
          span {{ $t("components.questions.formTitle.sub") }}
          b-button#tooltip-question.question_tooltip
            icon-base(width='13' height='20' viewBox='0 0 13 20' icon-name='Опишите ваши симптомы')
              icon-question
          b-tooltip(target='tooltip-question', triggers='click hover focus', placement='left', variant='light', custom-class='tooltip-question')
            | &nbsp;{{ $t("components.questions.formTitle.questionMark") }}
            a(href="/") {{ $t("components.questions.formTitle.questionMark_2") }}
            | &nbsp;{{ $t("components.questions.formTitle.questionMark_3") }}

        b-form(@submit='onSubmit', v-if='show', id="question_form" )
          b-form-textarea.question_form__textarea(v-model='form.text', :state='form.text.length > 1', placeholder='Опишите ваши симптомы')
          .question_form__file.d-flex.align-items-center
            .btn_download
              label.label
                icon-base(width='14', height='24', viewBox='0 0 14 24', icon-name='Загрузить' iconColor='white')
                  icon-clip
                b-form-file.mt-3(v-model='form.files', plain='', multiple)
            b-button.btn_blue.question_form__button(type='submit')
              span {{ $t("components.questions.bForm.send") }}
              icon-base(width='18', height='18', viewBox='0 0 18 18',iconColor='white')
                icon-send-airplane
          .upload_files
            .upload_files__item(v-for='(file, index) in form.files', @key="index")
              .upload_files__icon(v-if='file.type.indexOf("image") != -1')
                icon-base(width='16', height='16', viewBox='0 0 16 16', icon-name='image')
                  icon-image
              .upload_files__icon(v-if='file.type.indexOf("pdf") != -1')
                icon-base(width='16', height='16', viewBox='0 0 16 16', icon-name='pdf')
                  icon-pdf
              .upload_files__icon(v-if='file.type.indexOf("zip") != -1')
                icon-base(width='16', height='16', viewBox='0 0 16 16', icon-name='arhive')
                  icon-archive
              .upload_files__icon(v-if='file.name.indexOf(".mrt") != -1')
                icon-base(width='16', height='16', viewBox='0 0 16 16', icon-name='mrt')
                  icon-mrt
              .upload_files__name {{ file.name }}
              .upload_files__delete(@click='onDelete(index)')
                icon-base(width='24', height='24', viewBox='0 0 24 24', icon-name='Удалить')
                  icon-delete

</template>

<script>
import IconBase from '../components/IconBase.vue'
import { IconQuestion, IconClip, IconDelete, IconSendAirplane, IconArchive, IconImage, IconMrt, IconPdf } from '@/components/icons'
export default {
  components: {
    IconBase,
    IconClip,
    IconDelete,
    IconQuestion,
    IconSendAirplane,
    IconArchive,
    IconImage,
    IconMrt,
    IconPdf
  },
  data () {
    return {
      form: {
        text: '',
        files: []
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      console.log(this.form)
    },
    onDelete (index) {
      this.form.files.splice(index, 1)
      console.log('index: ', index)
      console.log('this.form.files: ', this.form.files)
      console.log('this.form.files[index]: ', this.form.files[index])
    }
  }
}
</script>

<style lang="sass">
@import "../assets/styles/components/question.sass"
</style>
