<template lang="pug">
  section
    .container
      .row
        .col
</template>

<script>
import configService from '../services/config'

export default {
 created(){
   const recaptchaScript = document.createElement('script')
   const captchaKey = configService.reCAPTCHAKey
   recaptchaScript.setAttribute('src', configService,urlGoogleReCaptcha + captchaKey);
   recaptchaScript.setAttribute('async', '');
   recaptchaScript.setAttribute('defer', '');
   (document.body || document.head).appendChild(recaptchaScript)

   window.grecaptcha.ready(function() {
    window.grecaptcha.execute(captchaKey, {action: 'homepage'}).then(function(token) {
          console.log(token)
    })
   })
 }
}
</script>

