<template lang="pug">
  .social.d-flex
    a.social_item(href='https://www.instagram.com/qapsula/?igshid=11hynqc8vrdxa', target='_blank')
      icon-base.instagram(width='18', height='18', viewBox='0 0 18 18', icon-name='Instagram')
        icon-instagram
    a.social_item(href='https://www.facebook.com/Qapsula-954946581245310', target='_blank')
      icon-base.facebook(width='9', height='19', viewBox='0 0 9 19', icon-name='Facebook')
        icon-facebook
    a.social_item(href='https://vk.com/qapsula', target='_blank')
      icon-base.vk(width='24', height='14', viewBox='0 0 24 14', icon-name='ВКонтакте')
        icon-vk
    a.social_item(href='https://www.youtube.com/channel/UCavlbrtbysBjjNgWtYiLsyA', target='_blank')
      icon-base.youtube(width='22', height='16', viewBox='0 0 22 16', icon-name='Youtube')
        icon-youtube
</template>

<script>
import IconBase from '../components/IconBase.vue'
import { IconFacebook, IconInstagram, IconVk, IconYoutube } from '../components/icons/'
export default {
  components: {
    IconBase,
    IconFacebook,
    IconInstagram,
    IconVk,
    IconYoutube
  }
}
</script>

<style lang="sass">
@import "../assets/styles/components/social.sass"
</style>
