<template lang="pug">
  div
    b-tooltip(:target='idTrigger'
              :triggers='trigger'
              :placement='position'
              variant='light'
              :custom-class='tooltip_style'
              )
      div(v-show="!htmlShow")
        .text_style(:style="{ color: colorText}")
          | {{ textPromp }}
      div(v-show="htmlShow")
        slot(name="htmlTootip")
</template>

<script>
export default {
  props: {
    htmlShow: {
      type: Boolean,
      required: false,
      default: false
    },
    position: {
      type: String,
      required: false,
      default: 'left'
    },
    textPromp: {
      type: String,
      required: false,
      default: ''
    },
    idTrigger: {
      type: String,
      required: true,
      default: 'none'
    },
    colorText: {
      type: String,
      required: false,
      default: '#D94C4C'
    },
    trigger: {
      type: String,
      required: true,
      default: 'click hover focus'
    }
  }
}
</script>

<style lang="scss" scoped>
.tooltip_style {
  opacity: 1;
  left: -6px;
  .tooltip-inner {
    max-width: fit-content;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
  }
  &.tooltip.b-tooltip-light
    .tooltip-inner {
      background: white;
      box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25);
      border-radius: 6px;
    }
    .arrow::before {
      border-left-color: white;
    }
}

.text_style {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
</style>
