<template lang="html">
<g>
<path d="M22.2786 3.72413H2.72135V10.7241H0.858756V2C0.858756 0.895431 1.75938 0 2.87036 0H8.30402C8.8212 0 9.24045 0.416836 9.24045 0.931029C9.24045 1.44522 9.65971 1.86206 10.1769 1.86206H22.1296C23.2406 1.86206 24.1412 2.75749 24.1412 3.86206V10.7241H22.2786V3.72413Z"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9941 11.7241C24.5772 11.7241 25.0381 12.2154 24.9975 12.7937L24.2718 23.1392C24.1983 24.1872 23.3217 25 22.2651 25H2.73495C1.67829 25 0.801736 24.1872 0.728218 23.1392L0.0024869 12.7937C-0.0380789 12.2154 0.422811 11.7241 1.00585 11.7241H23.9941ZM18.9547 15C19.5416 15 20.0038 15.4975 19.9574 16.0791L19.6318 20.1582C19.5488 21.1982 18.6757 22 17.6265 22H7.37353C6.32427 22 5.45125 21.1982 5.36823 20.1582L5.04261 16.0791C4.99618 15.4975 5.45841 15 6.04527 15H18.9547Z"/>
<path d="M21.3473 9.22413C21.3473 8.94799 21.1222 8.72413 20.8444 8.72413H4.15556C3.87781 8.72413 3.65265 8.94799 3.65265 9.22413V10.7241H21.3473V9.22413Z"/>
<path d="M19.9131 5.72413C20.1909 5.72413 20.416 5.94799 20.416 6.22413V7.72413H4.58395V6.22413C4.58395 5.94799 4.80911 5.72413 5.08686 5.72413H19.9131Z"/>
</g>
</template>
