<template lang="pug">
  #app
    app-header
    router-view.content
    app-footer
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="sass">
@import "./assets/styles/global.sass"
</style>
