@import './variables.sass'
@import './main.sass'

#app
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100vh
	font-family: $font_stack
	font-size: $font_size__body
	line-height: 1.3
	color: $color_primary
	.content
		flex-grow: 1

a 
	color: $color_primary
	&:hover
		transition: color 300ms ease
		color: $color_blue
.container
	max-width: 1350px

.text_center
	text_align: center

.dropdown-toggle
	display: flex
	align-items: center
	&:hover
		transition: all 300ms ease
	&::after
		display: none
	.sr-only
		top: 50%
		clip: auto
		width: 10px
		height: 6px
		margin: -3px 37px
		svg
			position: absolute
			left: 0
			top: 0
.language
	&_dropdown
		margin-right: 39px
		.dropdown-toggle
			padding: 0
			> svg
				border-radius: 50%
				margin-bottom: 0
	&_selected
		margin-left: 24px
		display: flex
		height: 22px
		font-size: 14px
		font-weight: 600
		color: $color_primary
		&__item
			display: block
			padding: 0 7px
			line-height: 20px
			&:first-child
				position: relative
				&:after
					position: absolute
					top: 0
					right: 0
					content: ''
					width: 1px
					height: 20px
					background: $color_gray
					border-radius: 1px

.btn
	padding: 0 15px
	border-radius: 6px
	font-size: 16px
	line-height: 38px
	height: 46px
	color: white
	&_blue
		border: 1px solid $color_blue !important
		background: $color_blue !important
		&:hover, &:active, &:focus
			box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25) !important

.btn_download
	input[type=file]
		outline: 0
		opacity: 0
		pointer-events: none
		user-select: none
	.label
		display: block
		margin: 0
		padding-top: 7px
		border: 1px solid $color_blue
		width: 40px
		height: 40px
		max-height: 40px
		border-radius: 6px
		transition: border 300ms ease
		cursor: pointer
		text-align: center
		svg
			min-width: 14px
		&:hover
			box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.25)

.carousel
	&-indicators
		max-width: 130px
		margin: 0 auto
		li
			box-sizing: border-box
			position: relative
			margin: 0 6px
			min-width: 12px
			max-width: 12px
			max-height: 12px
			width: 12px
			height: 12px
			border: 1px solid $color_blue
			border-radius: 50%	
			outline: none
			opacity: 1
			&.active
				background: $color_blue
			&::after
				content: ''
				position: absolute
				top: 50%
				left: 50%
				margin: -3px
				width: 6px
				height: 6px
				background: rgba(0,0,0,0)
				border-radius: 50%
			&:hover
				transition: all 300ms ease
				&::after
					background: $color_blue
				
	&-control-prev, &-control-next
		display: block
		top: 100%
		margin-top: -17px
		width: 5%
		height: 20px
		opacity: 1
	&-control-prev
		left: 165px
		&-icon
			width: 6px
			height: 10px
			background-image: url('./assets/images/arr-left.svg')
			background-position: 0 bottom
	&-control-next
		right: 165px
		&-icon
			width: 6px
			height: 10px
			background-image: url('./assets/images/arr-right.svg')
			background-position: 0 bottom

.tooltip-inner
	box-shadow: 0px 2px 5px rgba(147, 168, 189, 0.7)
	a
		color: $color_blue
		font-weight: 600
		text-decoration-line: underline
		&:hover
			color: $color_primary

.page
	&_title
		font-size: 39px
		font-weight: 600

.form-control
	color: $color_primary !important
	&:focus
		background: $color_blue__elis
		border: 1px solid rgba(0,0,0,0)
		box-shadow: none
		&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
			opacity: 0
	// &:focus-within
	// 	background: white
	// 	border: 1px solid $color_blue__cornflower
	&::-webkit-input-placeholder
		opacity: 0.5
		color: $color_primary !important
	&:-moz-placeholder
		opacity: 0.5
		color: $color_primary !important
	&::-moz-placeholder
		opacity: 0.5
		color: $color_primary !important
	&:-ms-input-placeholder
		opacity: 0.5
		color: $color_primary !important
textarea
	resize: none

@media (max-width: 1199px)
	#app
		font-size: 14px
@media (max-width: 767px)
	.page
		&_title
			font-size: 26px
	.form-control
		font-size: 14px
	.btn
		font-size: 14px