<template lang="pug">
footer.footer
  .container
    b-row
      b-col.footer_wrapper.d-flex
        app-language
        .footer_left
          router-link(to='/', class='footer_logo')
            icon-base.qapsula(width='73', height='52', viewBox='0 0 73 52', icon-name='© 2019 ООО «Капсула»' iconColor="#333333")
              icon-qapsula
          .copyright © 2019 ООО «{{ $t("layouts.footer.name") }}».
            br
            | {{ $t("layouts.footer.allRightsReserved") }}
          .footer_social
            app-social
        .footer_center
          .footer_nav(v-on:click="activeClass1", :class="{ active: isActive1 }")
            .footer_nav__title
              span {{ $t("layouts.footer.about") }}
              icon-base(width='10', height='6', viewBox='0 0 10 6', icon-name='О нас' iconColor='rgba(0,0,0,0)')
                icon-ArrowDown
            b-nav.footer_nav__list
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/develops`") {{ $t("layouts.footer.company") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/contacts`") {{ $t("layouts.footer.contact") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/agreement`") {{ $t("layouts.footer.terms") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/confidential`") {{ $t("layouts.footer.confidential") }}
          .footer_nav(v-on:click="activeClass2", :class="{ active: isActive2 }")
            .footer_nav__title
              span {{ $t("layouts.footer.patient") }}
              icon-base(width='10', height='6', viewBox='0 0 10 6', icon-name='Пациентам' iconColor='rgba(0,0,0,0)')
                icon-ArrowDown
            b-nav.footer_nav__list
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/develops`") {{ $t("layouts.footer.opportunities") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/ask`") {{ $t("layouts.footer.ask") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/faq`") FAQ
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/feedback`") {{ $t("layouts.footer.feedback") }}
          .footer_nav(v-on:click="activeClass3", :class="{ active: isActive3 }")
            .footer_nav__title
              span {{ $t("layouts.footer.doctor") }}
              icon-base(width='10', height='6', viewBox='0 0 10 6', icon-name='Врачам' iconColor='rgba(0,0,0,0)')
                icon-ArrowDown
            b-nav.footer_nav__list
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/develops`") {{ $t("layouts.footer.opportunities") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/develops`") {{ $t("layouts.footer.consult") }}
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/faq`") FAQ
              b-nav-item.footer_nav__item(:to="`/${$i18n.locale}/feedback`") {{ $t("layouts.footer.feedback") }}

        .footer_right
          a.footer_app__img(href='#', target='_blank')
            icon-base(width='165', height='55', viewBox='0 0 165 55', icon-name='GooglePlay' iconColor="#333333")
              icon-GooglePlay

          a.footer_app__img(href='#', target='_blank')
            icon-base(width='165', height='55', viewBox='0 0 165 55', icon-name='AppStore' iconColor="#333333")
              icon-AppStore

</template>
<script>
import IconBase from '@/components/IconBase.vue'
import { IconAppStore, IconGooglePlay, IconQapsula, IconArrowDown } from '@/components/icons'

export default {
  data () {
    return {
      isActive1: false,
      isActive2: false,
      isActive3: false
    }
  },
  components: {
    IconBase,
    IconArrowDown,
    IconQapsula,
    IconAppStore,
    IconGooglePlay
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
      this.$router.push({
        params: { lang: locale }
      })
    },
    activeClass1 () {
      this.isActive1 = !this.isActive1
    },
    activeClass2 () {
      this.isActive2 = !this.isActive2
    },
    activeClass3 () {
      this.isActive3 = !this.isActive3
    }
  }
}
</script>

<style lang="sass">
@import "@/assets/styles/includes/footer.sass"
</style>
