<template lang="pug">
  header.header
    b-container
      b-row
        b-col(cols="7" sm="8" )
          .container_header_left
            router-link(to='/', class='header_logo')
              icon-base(width='141px', height='42', viewBox='0 0 141 42', icon-name='Qapsula', class='icon')
                icon-Logo
              icon-base(width='151', height='62', viewBox='0 0 151 62', icon-name='Qapsula', class='icon_hover')
                icon-LogoHover
            b-nav.container_header_options.header_nav.d-flex.align-items-center
              b-nav-item.header_nav__link(:to="`/${$i18n.locale}/base`") {{ $t("layouts.header.menu.base") }}
              b-nav-item.header_nav__link(:to="`/${$i18n.locale}/about`")  {{ $t("layouts.header.menu.about")}}
              b-nav-item.header_nav__link(:to="`/${$i18n.locale}/patients`") {{ $t("layouts.header.menu.patients") }}
              b-nav-item.header_nav__link(:to="`/${$i18n.locale}/doctors`") {{ $t("layouts.header.menu.doctors") }}

        b-col(cols="5" sm="4").d-flex.align-items-center.justify-content-end
          b-button.header_login__icon(:to="`/${$i18n.locale}/login`")
            icon-base(width='17', height='20',  viewBox="0 0 17 20" icon-name='login', iconColor='#2CB2DB')
              icon-man-siluete

          //- .burger_nav
          //-   icon-base(width="22" height="18" viewBox="0 0 22 18" icon-name='burgermenu')
          //-     icon-burger-menu
          b-dropdown.burger_nav(size='lg', variant='link', toggle-class='text-decoration-none')
            template(v-slot:button-content='')
              icon-base(width="22" height="18" viewBox="0 0 22 18" icon-name='Открыть')
                icon-burger-menu
            b-dropdown-item.burger_nav__item
              icon-base.burger_nav__close(width="20" height="20" viewBox="0 0 20 20" icon-name='Закрыть')
                icon-x-l
            b-dropdown-item.burger_nav__item
              b-button.burger_nav__login.btn_blue(:to="`/${$i18n.locale}/login`") {{ $t("layouts.header.loginBtn") }}
            b-dropdown-item.burger_nav__item
              b-nav-item.burger_nav__link.burger_nav__link-base(:to="`/${$i18n.locale}/base`") {{ $t("layouts.header.menu.base") }}
            b-dropdown-item.burger_nav__item
              b-nav-item.burger_nav__link(:to="`/${$i18n.locale}/about`")  {{ $t("layouts.header.menu.about")}}
            b-dropdown-item.burger_nav__item
              b-nav-item.burger_nav__link(:to="`/${$i18n.locale}/patients`") {{ $t("layouts.header.menu.patients") }}
            b-dropdown-item.burger_nav__item
              b-nav-item.burger_nav__link(:to="`/${$i18n.locale}/doctors`") {{ $t("layouts.header.menu.doctors") }}

          .container_header_rigth
            app-language
            b-button.header_login.btn_blue(:to="`/${$i18n.locale}/login`") {{ $t("layouts.header.loginBtn") }}

</template>
<script>
import IconBase from '@/components/IconBase.vue'
import { IconXL, IconLogo, IconLogoHover, IconEarth, IconArrowDown, IconManSiluete, IconBurgerMenu } from '@/components/icons'

export default {
  components: {
    IconBase,
    IconXL,
    IconLogo,
    IconLogoHover,
    IconEarth,
    IconManSiluete,
    IconArrowDown,
    IconBurgerMenu
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
      this.$router.push({
        params: { lang: locale }
      })
    }
  }
}
</script>

<style lang="sass">
  @import "@/assets/styles/includes/header.sass"
</style>
