<template lang="pug">
  div
    .flex_container
      .level(@click="tabsStyle(1)" :style="styleTabs_1")
        label.btn_tab 1
      .level(@click="tabsStyle(2)" :style="styleTabs_2")
        label.btn_tab 2
      .level(@click="tabsStyle(3)" :style="styleTabs_3")
        label.btn_tab 3
    .spacer
    .spacer
    .spacer
    .doctor-registration-steps(v-if="step == 1")
      form()
        b-row
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width="16" height="20" viewBox="0 0 16 20" iconColor="#95D8ED")
                icon-write
              | Личные данные
            .input-group
              b-form-input.intform(type='text' placeholder="Фамилия")
            .input-group
              b-form-input.intform(type='text' placeholder="Имя")
            .input-group
              b-form-input.intform(type='text' placeholder="Отчество")
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width="27" height="16" viewBox="0 0 27 16")
                icon-key
              | Datos Password
            .input-group
              b-form-input.intform(type='text' placeholder="Email")
            .input-group
              b-form-input.intform(type='text' placeholder="Придумайте пароль")
            .input-group
              b-form-input.intform(type='text' placeholder="Повторите пароль")
          b-col(sm="12")
            b-row(align-h="center")
              b-col(sm="6")
                .input-group
                  b-form-input.intform(type='text' placeholder="Промокод")
                b-button.header_login.btn_blue.btn_large.top_margin_1() Следующий шаг

    .doctor-registration-steps(v-if="step == 2")
      form()
        b-row
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width='18' height='18' viewbox='0 0 18 18' iconColor='#95D8ED')
                icon-phone
              | Телефон
            .input-group
              input-custom#input_phone(placeholderCustom="+505 345-67-89" typeCustom="email" @click-change="showList = !showList")
              phone-helper#pop-up(:phoneList="showList" :typeCustom="text" :codeCountry="true")
            .input-group
              div
                icon-base(width='20' height='12' viewbox='0 0 20 12')
                  icon-check
                label Подтвердите телефон
            .input-group
              .form_icon_title_container
                icon-base(width="18" height="15" viewBox="0 0 18 15")
                  icon-suitcase
                | Профессио данные
            .input-group
              b-form-input.intform(type='text' placeholder="Специализация")
            .input-group
              b-form-input.intform(type='text' placeholder="Опыт работы")
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width='13' height='18' viewbox='0 0 13 18' iconColor='#95D8ED')
                icon-mark
              | География
            .input-group
              input-custom#input_phone(placeholderCustom="Страна" typeCustom="text" @click-change="showGeography = !showGeography")
              phone-helper#pop-up_right(:phoneList="showGeography" :codeCountry="false")
              //- b-form-input.intform(type='text' placeholder="Страна")
            .input-group
              b-form-input.intform(type='text' placeholder="Населённый пункт")
            .input-group
              .form_icon_title_container
                icon-base(width="18" height="14" viewBox="0 0 18 14" iconColor='#95D8ED')
                  icon-cap
                | Образование
            .input-group
              b-form-input.intform(type='text' placeholder="Название ВУЗа")
            .input-group
              b-form-input.intform(type='text' placeholder="Доп. образование")
          b-col(sm="12")
            b-row(align-h="center")
              b-col(sm="6")
                b-button.header_login.btn_blue.btn_large.top_margin_1 Следующий шаг

    .doctor-registration-steps(v-if="step == 3")
      b-row(align-h="center")
        b-col(sm="12" md="8")
          h5.text_center Прикрепите сканы или фото
          h5.text_center  диплома об образовании
          .spacer
          form()
            .container_files
              b-row
                b-col(cols="6" sm="6")
                  .file_item
                    .file_wrap
                      img(src='@/assets/images/login/745441317.png' height='100%' width='100%')
                      icon-base(width='10' height='10' viewbox='0 0 10 10')
                        icon-x
                    .file_name File1.jpg
                b-col(cols="6" sm="6")
                  .file_item
                    .file_wrap
                      img(src='@/assets/images/login/745441317.png' height='100%' width='100%')
                      icon-base(width='10' height='10' viewbox='0 0 10 10')
                        icon-x
                    .file_name File2.jpg
                b-col(cols="6" sm="6")
                  .file_item
                    .file_wrap
                      img(src='@/assets/images/login/745441317.png' height='100%' width='100%').image_opacity
                      icon-base(width='10' height='10' viewbox='0 0 10 10')
                        icon-x
                      icon-base(width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                        icon-load-img

                    .file_name File3.jpg
                b-col(cols="6" sm="6")
                  .add_file
                    .add_icon_container
                      .add_icon +
            b-container
              b-row
                .icon_button.top_margin_1
                  icon-base(width='14' height='24' viewbox='0 0 14 24' iconColor='white')
                    icon-clip
                  | Выберите файлы
                b-button.header_login.btn_blue.btn_large.top_margin_1(v-on:click="callbackInfo") Зарегистрироваться
</template>
<script>
import IconBase from '@/components/IconBase.vue'
import {
  IconWrite,
  IconKey,
  IconPhone,
  IconMark,
  IconSuitcase,
  IconCheck,
  IconCap,
  IconX,
  IconLoadImg,
  IconClip } from '@/components/icons'

import InputCustom from '@/components/InputCustom.vue'
import PhoneHelper from '@/components/PhoneHelper.vue'

export default {
  components: {
    InputCustom,
    IconBase,
    IconWrite,
    IconKey,
    IconPhone,
    IconMark,
    IconSuitcase,
    IconCheck,
    IconCap,
    IconX,
    IconLoadImg,
    IconClip,
    PhoneHelper
  },
  data () {
    return {
      email: null,
      password: null,
      step: 1,
      styleTabs: {
        border: '1px solid #2CB2DB',
        boxSizing: 'border-box',
        borderRadius: '6px'
      },
      styleTabs_1: {
        border: '1px solid #2CB2DB',
        boxSizing: 'border-box',
        borderRadius: '6px'
      },
      styleTabs_2: 'none',
      styleTabs_3: 'none',
      showList: false,
      showGeography: false
    }
  },
  methods: {
    tabsStyle (step) {
      this.step = step
      if (this.step === 1) {
        this.styleTabs_1 = this.styleTabs
        this.styleTabs_2 = 'none'
        this.styleTabs_3 = 'none'
      }
      if (this.step === 2) {
        this.styleTabs_1 = 'none'
        this.styleTabs_2 = this.styleTabs
        this.styleTabs_3 = 'none'
      }
      if (this.step === 3) {
        this.styleTabs_1 = 'none'
        this.styleTabs_2 = 'none'
        this.styleTabs_3 = this.styleTabs
      }
    },
    callbackInfo () {
      this.$emit('callback-info')
    }
  }
}
</script>
<style lang="scss" scoped>
.intform {
  background: #EAF7FB;
  border: none;
  border-radius: 6px;
  margin-top: 18px;
}

.btn_tab {
  font-family: AdelleCyrillic;
  font-size: 24px;
  line-height: 20px;
  color: #2CB2DB;
}

.level {
  width: 42px;
  height: 42px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  label{
    cursor: pointer;
    margin: 0;
  }
}

.text_center {
  text-align: center;
  width: 100%;
  margin:0;
  color: #707070;
}

.spacer {
  height: 1rem;
  width: 100%;
}

.container_icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  p {
    cursor: pointer;
    padding: 1 rem;
  }
}

.form_icon_title_container {
  margin-top: 12px;
  padding-left: 1rem;
  color: gray;
  svg {
    margin-right: 1rem;
  }
}

.flex_container {
  display: flex;
  justify-content: center;
}

.container_files {
  border: 1px solid #2CB2DB;
  padding: 2rem 2rem 1rem;
  border-radius: 10px;
}

.file_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  img {
    width: 80%;
  }
  svg {
    cursor: pointer;
  }
}

.file_wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.add_file {
  height: 68%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2CB2DB;
  cursor: pointer;
}

.add_icon_container {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2CB2DB;
  position: relative;
}

.add_icon {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  color:  #2CB2DB;
  left: 5px;
  top: -4px;
}

.btn_large {
  width:100%;
}

.top_margin_1 {
  margin-top: 1rem;
}

.icon_button {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #2CB2DB;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    margin-right: 1rem;
  }
}

.image_opacity {
  opacity: 0.2;
}

.loading_icon {
  position: absolute;
  top: 32%;
  right: 51%;
}

#pop-up {
  position: absolute;
  top: 18px;
  left: -308px;
}

#pop-up_right {
  position: absolute;
  top: 18px;
  left: 240px;
}

#input_phone {
  width: 100%
}
</style>
