<template lang="pug">
  div
    form
      b-container
        b-row
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width="16" height="20" viewBox="0 0 16 20" iconColor="#95D8ED")
                icon-write
              | Личные данные
            .input-group
              b-form-input.intform(type='text' placeholder="Фамилия")
            .input-group
              b-form-input.intform(type='text' placeholder="Имя")
            .input-group
              b-form-input.intform(type='text' placeholder="Отчество")
          b-col(sm="6")
            .form_icon_title_container
              icon-base(width="27" height="16" viewBox="0 0 27 16")
                icon-key
              | Данные для входа
            .input-group
              b-form-input.intform(type='text' placeholder="Email: ")
            .input-group
              b-form-input.intform(type='text' placeholder="Придумайте пароль")
            .input-group
              b-form-input.intform(type='text' placeholder="Повторите пароль")
          b-col(sm="12")
            b-row(align-h="center")
              b-col(sm="6")
                .input-group
                  b-form-input.intform(type='text' placeholder="Промокод")
                b-button.header_login.btn_blue.btn_large.top_margin_1(v-on:click="callbackInfo") Зарегистрироваться
          b-col(sm="12")
            .spacer
          b-col(sm="12")
            .small_text.text_center Нажимая на кнопку "Зарегистрироваться", я подтверждаю, что ознакомился(лась)
            .small_text.text_center
              | с
              u.link_text  политикой обработки персональных данных
              | и даю
              u.link_text согласие на обработку
            .small_text.text_center
              u.link_text персональных данных
              | , ознакомлен(а) с
              u.link_text пользовательским соглашением
            .small_text.text_center и согласен(на) с условиями предоставления услуг на Сайте.
          b-col(sm="12")
            .spacer
          b-col(sm="12")
            h5.text_center.black_text  C помощью QR-кода
          b-col(sm="12")
            b-row(align-h="center")
              b-col(sm="6")
                .icon_button.top_margin_1
                  icon-base(width="23" height="27" viewBox="0 0 23 27")
                    icon-qr
                  | Выберите файлы
</template>

<script>
import IconBase from '@/components/IconBase.vue'
import {
  IconWrite,
  IconQr,
  IconKey } from '@/components/icons'
export default {
  components: {
    IconBase,
    IconWrite,
    IconQr,
    IconKey
  },
  data () {
    return {
      email: null
    }
  },
  methods: {
    callbackInfo () {
      this.$emit('callback-info')
    }
  }
}
</script>
<style lang="scss" scoped>
.intform {
  background: #EAF7FB;
  border: none;
  border-radius: 6px;
  margin-top: 18px;
}

.text_center {
  text-align: center;
  width: 100%;
  margin:0;
  color: #707070;
}

.small_text {
  text-align: center;
  color: #999999;
  font-size: 12px;
  margin: 0;
}

.link_text {
  color: #2CB2DB;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  height: 1rem;
  width: 100%;
}

.container_icon_1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  p {
    font-size: 15px;
    cursor: pointer;
    padding: 1 rem;
  }
  &::before{
    border-right: 1px solid #D6D6D6;
    height: 80px;
    position: absolute;
    right: 0;
    top: 5px;
    content:"";
  }
}

.container_icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  p {
    cursor: pointer;
    padding: 1 rem;
  }
}

.form_icon_title_container {
  margin-top: 12px;
  padding-left: 1rem;
  color: gray;
  svg {
    margin-right: 1rem;
  }
}

.btn_large {
  width:100%;
}

.top_margin_1 {
  margin-top: 1rem;
}

.icon_button {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #2CB2DB;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    margin-right: 1rem;
  }
}

.black_text {
  color: #333333;
}
</style>
