<template lang="pug">
  b-row
    b-col
      img.envelope(src='@/assets/images/login/envelope.png' height='100%' width='100%')
    b-col(cols='8')
      b-row.justify-content-md-center
        b-col(align-self="center" md="auto")
          icon-base(width="30" height="24" viewBox="0 0 30 24" iconColor="#2CB2DB")
            icon-email
        b-col(align-self="center" md="auto")
          .title
            span.sptitle Проверьте
            |  свою почту
      b-row
        b-col
          .paragraph
            | Мы отправили ссылку на указанный Вами адрес электронной почты. Пройдите по ней, чтобы завершить регистрацию
    b-col
      img.loup(src='@/assets/images/login/loup.png' height='100%' width='100%')
</template>
<script>
import IconBase from '@/components/IconBase.vue'
import IconEmail from '@/components/icons/form/IconEmail.vue'
export default {
  components: {
    IconBase,
    IconEmail
  }
}
</script>
<style lang="scss" scoped>
.sptitle {
  color: #2CB2DB;
}

.envelope {
  width: 145.14px;
  height: 90.33px;
  transform: rotate(0deg);
}

.loup {
  width: 137px;
  height: 127px;
}

.title {
  font-family: Adelle Cyrillic;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;

  text-align: center;
  color: #333333;
}

.paragraph {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
</style>
