<template lang="pug">
  b-row.feedback_wrapper
    b-col(md="4")
      .feedback_image
        img.feedback_image-1(src='../../assets/images/contacts/blank.png')
        img.feedback_image-2(src='../../assets/images/contacts/ballpointpen.png')
    b-col(md="4")
      b-form.ask_form(@submit='onSubmit', v-if='show')
        b-form-group.email
          b-form-input(v-model='form.email', type='email', required='', placeholder='Ваш email')
          .icon
            icon-base(width='22', height='16', icon-name='Ваш email' iconColor='#2CB2DB')
              icon-Email
        b-form-group.textarea
          b-form-textarea(v-model='form.text', placeholder='Опишите ваши симптомы', rows='6', max-rows='6')
          .icon
            icon-base(width='19', height='20', icon-name='Ваш вопрос' iconColor='#2CB2DB')
              icon-Text
        .btn_download.download
          label.label
            icon-base(width='14', height='24', icon-name='Загрузить' iconColor='white' strokeFill='#2CB2DB', strokeWidth='3')
              icon-clip
            | Выберите файлы
            b-form-file.mt-3(v-model='form.files', plain='', multiple)
        vue-recaptcha(sitekey='Your key here')
        b-button.btn_blue.ask_form__btn(type='submit', variant='primary') Отправить
    b-col(md="4")
      .feedback_image
        img.feedback_image-3(src='../../assets/images/contacts/envelope.png')
</template>

<script>
import IconBase from '../../components/IconBase.vue'
import { IconClip, IconEmail, IconText } from '../../components/icons/'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        text: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  components: {
    IconBase,
    IconClip,
    IconEmail,
    IconText
  }
}
</script>

<style lang="sass">
  @import "../../assets/styles/components/forms/feedback.sass"
  @import "../../assets/styles/components/forms/ask.sass"
</style>
