<template lang="pug">
  b-row.feedback_wrapper
    b-col(md="4")
      .feedback_image
        img.feedback_image-1(src='../../assets/images/contacts/blank.png')
        img.feedback_image-2(src='../../assets/images/contacts/ballpointpen.png')
    b-col(md="4")
      b-form.feedback_form(@submit='onSubmit', v-if='show')
        b-form-group.name
          b-form-input(v-model='form.name', required='', placeholder='Ваше имя')
          .icon
            icon-base(width='18', height='20', viewBox='0 0 18 20', icon-name='Ваше имя' iconColor='#95D8ED')
              icon-Name
        b-form-group.email
          b-form-input(v-model='form.email', type='email', required='', placeholder='Ваш email')
          .icon
            icon-base(width='22', height='16', viewBox='0 0 22 16', icon-name='Ваш email' iconColor='#95D8ED')
              icon-Email
        b-form-group.textarea
          b-form-textarea(v-model='form.text', placeholder='Ваш вопрос', rows='6', max-rows='6')
          .icon
            icon-base(width='19', height='20', viewBox='0 0 19 20', icon-name='Ваш вопрос' iconColor='#95D8ED')
              icon-Text
        b-button.btn_blue.feedback_form__btn(type='submit', variant='primary') Отправить
    b-col(md="4")
      .feedback_image
        img.feedback_image-3(src='../../assets/images/contacts/envelope.png')

</template>

<script>
import IconBase from '../../components/IconBase.vue'
import { IconEmail, IconName, IconText } from '../../components/icons/'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        text: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  components: {
    IconBase,
    IconEmail,
    IconName,
    IconText
  }
}
</script>

<style lang="sass">
  @import "../../assets/styles/components/forms/feedback.sass"
</style>
